<div>
	<script type="text/javascript" language="javascript" src="//c.amazon-adsystem.com/aax2/getads.js"></script>
	<script type="text/javascript" language="javascript">
	  //<![CDATA[
	    aax_getad_mpb({
	      "slot_uuid":"{{amazon_uuid}}"
	    });
	  //]]>
	</script>
</div>
