                
{{!-- Creates a card with a list of all the tag categories --}}
<div class="categories-card card hoverable">
    <div class="card-content">
        <span class="card-title">More Categories</span>
        <div class="divider"></div>
        <ul>
            <li><a href="/page/2">ALL</a></li>
            <li><a href="/tag/travel">Travel</a></li>
            <li><a href="/tag/climbing">Climbing</a></li>
            <li><a href="/tag/travel">Fitness and Recovery</a></li>
            <li><a href="/tag/travel">Van Life</a></li>
            <li><a href="/tag/sewing">Sewing and Quilting</a></li>
        </ul>
    </div>
</div>