<div class="email-subscribe">
	<h2 class="header">Subscribe</h2>
	<div>Get an email only when there's a new post, nothing else</div>
	<div id="mc_embed_signup">
	    <form action="//patchworkandpebbles.us16.list-manage.com/subscribe/post?u=f890dbb845edca0737c3d2019&amp;id=96fb5c0f29" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	        <div id="mc_embed_signup_scroll">
	            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email" required>
	            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f890dbb845edca0737c3d2019_96fb5c0f29" tabindex="-1" value=""></div>
	            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	        </div>
	    </form>
	</div>
</div>