<footer class="footer-container full-width row">
	<div class="column">
		<div class="full-width row">
			<div class="span-middle column">
                <h5>This is a test footer</h5>
                <p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo.</p>
            </div>
        </div>

        <div class="full-width row">
		    <section class="copyright column">
		        <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
		    </section>
		    <section class="poweredby column">
		        Published with <a href="https://ghost.org">Ghost</a>
		    </section>
		</div>
	</div>
</footer>