
<section class="row slider-container">
    <header class="center-align grey-text text-darken-1 col s12">
        <h2 class="slider-title"> <span class="slider-title-smallfont">the&nbsp;</span>latest</h2>
    </header>

    <article class="center-align slider-title col s10 offset-s1">
        <div class="slider">
            <ul class="slides">
                {{#get "posts" limit=4}}
                    {{#foreach posts}}
                        <li>
                            <a href="{{url}}">
                                <img src="{{image}}">
                                <div class="caption left-align">
                                    <h3>{{title}}</h3>
                                </div>
                            </a>
                        </li>
                    {{/foreach}}
                {{/get}}
            </ul>
        </div>

    </article>

    <footer class="col s12 center-align slider-footer">
        <a href="/page/2" class="waves-effect waves-light btn">see all</a>
    </footer>
</section>

<div class="divider"></div>