
{{#if tags}}
    <div class="related-posts">

        {{#foreach tags limit="1"}}
            <a href="{{url}}"><h1 class="title">Related Articles</h1></a>
        {{/foreach}}
            
        {{!-- for the jquery api to insert posts here --}}
        <div class="list-of-posts {{class}}"></div>
		{{#foreach tags limit="1"}}
			<a href="{{url}}"><div class="more-on"><i class="fas fa-plus-circle"></i>&nbsp;more</div></a>
		{{/foreach}}
    </div>
{{/if}}
