
{{!-- The sidebar --}}
<sidebar class="column show-for-medium">
    {{!-- <img class="thumbnail" src="http://placehold.it/100x100"> --}}
    <h5>This is a test sidebar</h5>
    <p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo.</p>
</sidebar>
