<div class="social-container row">
	<div class="column">

		{{!-- For the "share some love" --}}
		<div class="row">
			<div class="column span-middle">
				<h5 class="italicized-words">share some love</h5>
			</div>
		</div>
		
		<div class="row">
			<div class="column span-middle">
				<a href="https://twitter.com/intent/tweet?text=Great+post+on+%22{{title}}%22+by+%40patchworkandpebbles%21%0D%0A{{url absolute=true}}" class="icon-button twitter">
		  			<i class="fi-social-twitter medium"></i>
				</a>
				
				<a id="facebook-share" class="icon-button facebook">
		  			<i class="fi-social-facebook medium"></i>
				</a>

				<a href="#" class="icon-button gplus">
		  			<i class="fi-social-linkedin medium"></i>
				</a>

				<a href="#" class="icon-button gplus">
		  			<i class="fi-mail medium"></i>
				</a>

				<a href="#" class="icon-button gplus">
		  			<i class="fi-social-google-plus medium"></i>
				</a>
			</div>
		</div>
	</div>
</div>