                

{{!-- Creates the subscribe card --}}
<div class="subscribe-card card hoverable">
    <div class="card-content">
        <span class="card-title center-align">Like what you're reading?</span>
        <div class="divider"></div>
        <p>Subscribe to get new blog posts delivered to you!</p>
		<a href="#">RSS</a>
    </div>
</div>