{{!< default}}

{{#author}}

<article class="author-page">
    <div class="row">
        <header class="col s12 m10 l10 offset-m1 offset-l1 post-header">
            <h1 class="post-title">about</h1>
        </header>
    </div>

    <div class="row">
        <section class="col s12 m8 l7 offset-m2 offset-l2 post-content">
        	{{post_class}}
        	<h1 id="whythisblog">why this blog?</h1>
        	<p>Years ago I realized that 90% of the information I searched for in my daily life came from others--personal blogs, pinterest, discussion forums--rather than from traditional news sources.  Since then, I've been sharing my experiences here to inspire you, pursue creative interests, and as a how-to for tutorials.</p>

        	<h1 id="whatyoucanfindhere">what you can find here</h1>
        	<p>I write articles to be long-lived references, not fleeting "what I did today" posts.  Maybe you:</p>
				<ul>
					<li>are going through an ACL reconstruction surgery, or want to find out great kettlebell exercises for <strong><a href="http://patchworkandpebbles.com/tag/sports-fitness-recovery/">sports fitness &amp; recovery</a></strong></li>
					<li>are wondering if you're experiencing career burnout, or if your emotions are "normal" as a woman in the corporate world, and other <strong><a href="http://patchworkandpebbles.com/tag/career-gender-equality/">career &amp; gender equality</a></strong> questions</li>
					<li>really want to know how to get a perfect scant 1/4" seam or want to get ideas for modern quilts in <strong><a href="http://patchworkandpebbles.com/tag/sewing/">sewing &amp; quilting</a></strong></li>
					<li>are curious about the best activities to see and do in Death Valley, the Pacific Northwest Redwoods, and other <strong><a href="http://patchworkandpebbles.com/tag/travel/">travel destinations</a></strong>, and how to live on the road in #vanlife</li>
					<li>want to know the best <strong><a href="http://patchworkandpebbles.com/tag/climbing/">rock climbing</a></strong> training for slopers &amp; pinches, or are searching for beta for crags, camping, and showering in Ten Sleep, the New River Gorge, and other climbing destinations</li>
					<li>are super anile and want to know how to perfectly patch nail holes in a wall, or how to create distressed wood, and other <strong><a href="http://patchworkandpebbles.com/tag/diy-projects/">DIY home projects</a></strong></li>
				</ul>

			<h1 id="mystorytheshort">my story, the short</h1>
			<p>...I spent 8 years working at Google as an Engineering Program Manager</p>
			<p>...I have a B.S. Electrical Engineering from Rice University</p>
			<p>...I've been rock climbing since 2008, ticking climbs up to V9 and 5.12b</p>
			<p>...I've had two ACL reconstruction surgeries</p>
			<p>...I've been dabbling in photography since 2004</p>
			<p>...Over the last 2 years, I've spent 7 months traveling the US in a van, exploring the outdoors and climbing</p>
			<p>...I enjoy sewing handmade quilts, from patchwork to machine quilting</p>

			<h1 id="mystorythelong">my story, the long</h1>
			<p>I grew up in Honolulu, Hawaii until I went to Rice University in Houston, TX. I graduated with an Electrical Engineering degree and then worked as a Systems Engineer for military satellite communications systems at Boeing.</p>
			<p>After 2 years, I wanted to work in the faster-paced consumer mobile market. I landed a job at Google as an Engineering Program Manager and spent 8 years there working on projects from TV Ads to YouTube to Google Play to Nexus hardware. I love piecing together the architecture and dependencies of an end-to-end product.</p>
			<p>During that time, I met my husband Jeremy at Planet Granite climbing gym, where you can still find us many days a week. I've been climbing since 2008, primarily bouldering. My most proud send has been Clam Digger (V8/9) at Castle Rock State Park. Jeremy has the FA and I may have the first FFA!</p>
			<p>In 2014, I took a bouldering fall at the gym and tore my ACL. I had ACL reconstruction surgery, but 9 months later, I tore the graft when getting back into bouldering. I had ACL reconstruction surgery again in 2016 and am taking rehab much slower this time. I've been sport climbing since, though I look forward to bouldering again in the healthy future!</p>
			<p>I quit my job at Google in 2016 after feeling the Silicon Valley burn for 8 years. Since then, I've been focusing on my knee rehab, climbing, getting my cortisol levels back to normal, traveling, sewing and quilting, photography, and learning to be handier with house renovations. I've spent almost 7 months on the road with my husband, Jeremy, racking up 25k miles across the US, enjoying the outdoors, national parks, and climbing.</p>

			<h1 id="photographyinquiries">photography inquiries</h1>
			<p>All photos are licensed and copyrighted to me unless given credit otherwise. I love inspiring people to travel and explore through my photos. If you'd like to use my photos, please contact me!</p>

        	<section class="col s8 m8 l6 offset-s3 offset-m3 offset-l4">
        		<img src="/content/images/about-me/arrow-contact-me.jpg" alt="arrow contact me" />
        	</section>
        </section>
    </div>
</article>

{{/author}}