{{!< default}}

<p> You're Home! </p>

{{!-- The container class puts a horiz screen width limit --}}
<div class="homepage">
    <header class="row">
        <h1 class="col center-align m10 offset-m1 blog-title hide-on-small-only">
            {{@blog.title}}
        </h1>
        <h2 class="col center-align m10 offset-m1 blog-description grey-text text-darken-2">
            {{@blog.description}}
        </h2>
    </header>
</div>