{{!< default}}

<main class="home-content grid-home">
        <div class="grid-item-home">
        	<div class="grid-sizer-home"></div>
        	<div class="gutter-sizer-home"></div>
	        {{>section-card slug="career-gender-equality" disp-title="Career & Gender Equality"}}
	    </div>

	    <div class="grid-item-home">
        	<div class="grid-sizer-home"></div>
        	<div class="gutter-sizer-home"></div>
	        {{>section-card slug="sports" disp-title="Sports Fitness & Recovery"}}
	    </div>

	    <div class="grid-item-home">
	    	<div class="grid-sizer-home"></div>
        	<div class="gutter-sizer-home"></div>
        	{{>author-card}}
        	{{>email-subscribe-card}}
	    </div>

        <div class="grid-item-home">
        	<div class="grid-sizer-home"></div>
        	<div class="gutter-sizer-home"></div>
	        {{>section-card slug="quilting" disp-title="Quilting & Sewing"}}
	    </div>


	    <div class="grid-item-home">
        	<div class="grid-sizer-home"></div>
        	<div class="gutter-sizer-home"></div>
	        {{>section-card slug="travel" disp-title="Travel"}}
	    </div>

	    <div class="grid-item-home">
        	<div class="grid-sizer-home"></div>
        	<div class="gutter-sizer-home"></div>
	        {{>section-card slug="diy-projects" disp-title="DIY Projects"}}
	    </div> 

	    <div class="grid-item-home">
        	<div class="grid-sizer-home"></div>
        	<div class="gutter-sizer-home"></div>
	        {{>section-card slug="climbing" disp-title="Rock Climbing"}}
	    </div>

   
</main>