{{!< default}}

{{navigation}}

{{!-- The container class puts a horiz screen width limit --}}
<div class="homepage container">
    <header class="row">
        <h1 class="col center-align m10 offset-m1 blog-title hide-on-small-only">
            {{@blog.title}}
        </h1>
        <h2 class="col center-align m10 offset-m1 blog-description grey-text text-darken-2">
            {{@blog.description}}
        </h2>
    </header>

    <div class="divider"></div>
    
   <main>
        {{>loop-latest-post}}
        
        <div class="divider"></div>
        {{>loop-slider tag="sewing" disp-title="Quilting & Sewing"}}

        <div class="divider"></div>
        {{>loop-slider tag="career-gender-equality" disp-title="Career & Gender Equality"}}

        <div class="divider"></div>
        {{>loop-slider tag="sports-fitness-recovery" disp-title="Sports Fitness & Recovery"}}

        <div class="divider"></div>
        {{>loop-slider tag="travel" disp-title="Travel"}}


        <div class="divider"></div>
        {{>loop-slider tag="climbing" disp-title="Rock Climbing"}}


        <div class="divider"></div>
        {{>loop-slider tag="diy-projects" disp-title="DIY Project"}}

    </main>
</div>

{{>footer}}