{{!< default}}

{{navigation}}

{{!-- The container class puts a horiz screen width limit --}}
<div class="homepage container">
    <header class="row">
        <h1 class="col center-align s10 offset-s1 blog-title hide-on-small-only grey-text text-lighten-1">
            {{@blog.title}} 
        </h1>
        <h2 class="col center-align s10 offset-s1 blog-description grey-text text-darken-2">
            {{@blog.description}}
        </h2>
    </header>

    <div class="divider"></div>

    <main>
        {{>loop-latest-post}}
        {{>loop-slider tag="travel"}}
        {{>loop-slider tag="travel"}}
        
        <div class="row">
            {{!-- Card for more categories --}}
            <div class="col s12 m6">
                {{>categories-card}}
            </div>

            {{!-- Card for subscribe --}}
            <div class="col s12 m6">
                {{>subscribe-card}}
            </div>
        </div>

        {{>loop-slider tag="travel"}}

    </main>
</div>

{{>footer}}