{{!< default}}

<header>
	<div class="tag-page-header">
	    <h1 class="tag-page-title">
	    	All Posts
	    </h1>
	</div>
</header>


{{!-- The main content area --}}
<main class="tag-main">
    <section class="tag-feed">
        {{#get "posts" limit="all" include="tags"}}
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        {{/get}}
    </section>
</main> 
