{{!< default}}

{{!-- This is a page template. A page outputs content just like any other post, and has all the same attributes by default, but you can also customise it to behave differently if you prefer. --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}


{{navigation}}

{{!-- Container sets the screen width --}}
<div class="container">
    <div class="row">
        <article class="col s12">
            <header class="post-header-container">
                <h1 class="post-title grey-text text-darken-1">{{title}}</h1>
                <div class="divider"></div>
            </header>

            <section class="post-content grey-text text-darken-4">
                {{content}}
            </section>
        </article>
    </div>
</div>

{{>footer}}

{{/post}}
