{{!-- Insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{#tag}}

<header class="tag-page-header">
    <div class="header">articles on</div>
    <h1 class="tag-page-title">
    	{{name}}
    </h1>
</header>

{{/tag}}


<main class="tag-main">
    <section class="tag-feed">
        {{#foreach posts limit="1000"}}
            {{> "post-card"}}
        {{/foreach}}
    </section>
</main> 
