{{!-- insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{#tag}}

{{navigation}}

<main>
    <div class="container">
        <div class="row">
            <div class="col s12 m9 l10">
                <h2>tag page {{name}} </h2>
                <img class="responsive-img" src="http://placehold.it/900x700">
                <p> This is some main content text. This is some side panel text. This is some main content text. This is somemain content  text. </p>
            </div>

            <div class="col m3 l2 hide-on-small-only">
                <h2>sidebar</h2>
                <img class="responsive-img" src="http://placehold.it/350x150">
                <p> This is some side panel text. This is some side panel text. This is some side panel text. This is some side panel text. </p>
            </div>
        </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card hoverable blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">home.hbs</span>
                            <p>This is displaying from home.hbs</p>
                        </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{>footer}}

{{/tag}}
