{{!-- insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{#tag}}

{{!-- The off-canvas-wrapper class hides scroll bars when the sidebar is opened --}}
<div class="off-canvas-wrapper">
    {{!-- All of the content that gets shifted when the nav opens lives in here --}}
    <div class="off-canvas-content" data-off-canvas-content>
        {{navigation}}

        {{!-- Main container content takes up 10col horiz--}}
        <div class="row">
            <div class="column small-10">
                <main>
                    <h3 class="tag-page-title">
                        <span class="italicized-words">{{../pagination.total}} posts in the</span>
                        {{name}}
                        <span class="italicized-words">category</span>
                    </h3>
                   
                    {{> "loop-tag-page"}}
                </main>
            </div>

            {{>sidebar}}
        </div>

        {{>footer}}
    </div>
</div>

{{/tag}}
