
// Mailchimp

.email-subscribe-popup {
	box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
	border-top: 10px solid #000;
	position: fixed;
	z-index: 1000;
	bottom: 1px;
	right: 1rem;
	background-color: #fff;

	@media#{$small-and-down} {
		width: 80vw;
		right: 2.5rem;
	}

	@media#{$medium-and-up} {
		width: 40vw;
	}

	@media #{$large-and-up}{
		width: 30vw;
	}

	a.close {
		text-align: center;
		border-radius: 50%;
		height: 1.8rem;
		width: 1.8rem;
		position: absolute;
		top: -1.2rem;
		right: -0.7rem;
		z-index: 1;
		background-color: #fff;
		color: #000;
		border: 1px solid #ccc;

		.material-icons {
			font-size: 1.5rem;
			line-height: 24px;
		}
	}

	.title {
		padding: 0.8rem 1rem 0.5rem 1rem;
		border-bottom: 1px solid #ccc;
		line-height: 3rem;
		font-family: 'OPTIBodoniCampanileFive', sans-serif;
		font-weight: 400;
		font-size: 2.5rem;
		text-transform: uppercase;
		color: #000;
		text-decoration: none;

		@media #{$small-and-down} {
			font-size: 2rem;
			padding: 0.5rem 1rem 0rem 1rem;
		}
	}

	#mc_embed_signup {
		label {
		    display: block;
		    font-size: 1.1rem;
		    padding-bottom: 0.4rem;
		    font-weight: 400;
		    font-family: 'Roboto', sans-serif;
		    color: #666;

		    @media #{$small-and-down} {
		    	font-size: 1rem;
		    }
		}

		input.email {
			font-family: 'Roboto', sans-serif;
			font-size: 1.1rem;
			font-weight: 400;
			color: #666;
			margin-bottom: 1rem;

			@media #{$small-and-down} {
				font-size: 1rem;
				height: 2rem;
				margin-bottom: 0.5rem;
			}

			&:focus{
				box-shadow: none;
			}
		}

		.button{
			height: 2.5rem;
			margin-bottom: 0;

			@media #{$small-and-down} {
				height: 2rem;
			}
		}

		input.button {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 1.1rem;

			@media #{$small-and-down} {
				font-size: 1rem;
			}
		}
	}

	#mc-embedded-subscribe-form {
		padding: 1rem 1rem 1rem 1rem;

		@media #{$small-and-down} {
			padding: 0rem 1rem 0.5rem 1rem;
		}
	}
}

