
// Mailchimp

.email-subscribe-popup {
	// sideNav z-index is 999; put the email subscribe popup right under that
	z-index: 998;
	border: 1px solid #6085ff; 
	bottom: 0px;
	right: 1rem;
	background-color: #6085ff;
	position: fixed;
	padding-bottom: 0.5rem;

	@media#{$small-and-down} {
		width: 100vw;
		right: 0;
		background-color: #6085ff;
		border: 1px solid #6085ff; 
	}

	@media#{$medium-and-up} {
		width: 60vw;
	}

	@media #{$large-and-up}{
		width: 35vw;
	}

	a.close {
		text-align: center;
		height: 2.5rem;
		width: 2.5rem;
		position: absolute;
		top: 0rem;
		right: 0rem;
		z-index: 1;
		background-color: #6085ff; 
		color: #fff;
		cursor: pointer;

		@media#{$small-and-down} {
			background-color: #6085ff; 
		}

		.material-icons {
			font-size: 1.7rem;
			line-height: 34px;
			color: #fff;
		}
	}

	#mc_embed_signup {
		form {
			@media #{$small-and-down} {
				text-align: left;
			}
		}

		label {
		    display: block;
		    position: relative;
		    text-align: left;
		    font-size: 1.2rem;
		    padding-bottom: 1rem;
		    font-weight: 400;
		    font-family: 'Roboto', sans-serif;
		    color: #fff;
		    margin-right: 2rem;
		}

		input.email {
			font-family: 'Roboto', sans-serif;
			font-size: 1.1rem;
			font-weight: 400;
			color: #000;
			margin-bottom: 0.8rem;
			margin-right: 0rem;
			background-color: #fff;
			border:1px solid #fff;
			display: block;
			padding: 0 0.4em;
			min-height: 32px;
			width: 85%;
			min-width: 130px;

			@media #{$small-and-down} {
				font-size: 1rem;
				height: 2rem;
				margin: 0 0 0 0;
				display: inline-block;
				vertical-align: top;
			}

			@media #{$medium-and-down} {
				display: inline-block;
				height: 2rem;
				margin: 0 0 0 0;
				width: 58%;
			}

			&:focus{
				box-shadow: none;
			}
		}

		.clear {
			clear: none;
			display: inline;
			@media #{$small-and-down} {
				display: inline-block;
			}
		}

		// Subscribe button
		.button{
			clear: both;
			border: 0 none;
			height: 2.5rem;
			margin-bottom: 0;
			background-color: #000;
			padding: 0 1rem 0 1rem;
			&:hover{
				background-color: #777;
			}

			@media #{$small-and-down} {
				margin: 0 0 0 0;
			}
		}

		// "Subscribe" font inside button
		input.button {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 1rem;
			color: #fff;

			@media #{$small-and-down} {
				font-size: 1rem;
			}
		}
	}

	#mc-embedded-subscribe-form {
		padding: 1rem 1rem 1rem 1.5rem;

		@media #{$small-and-down} {
			padding: 0.5rem 1rem 0.5rem 1rem;
		}
	}
}

