
// Mailchimp

.email-subscribe-card {
	box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
	border-top: 10px solid #000;
	margin: 0rem 0 2rem 0rem;

	.title {
		padding: 1rem 1rem 0.7rem 1rem;
		border-bottom: 1px solid #ccc;
		line-height: 3rem;
		font-family: 'OPTIBodoniCampanileFive', sans-serif;
		font-weight: 400;
		// font-size: 3rem;
		font-size: 2.5rem;
		text-transform: uppercase;
		color: #000;
		text-decoration: none;
	}

	#mc_embed_signup {
		label {
		    display: block;
		    font-size: 1.1rem;
		    padding-bottom: 1rem;
		    font-weight: 400;
		    font-family: 'Roboto', sans-serif;
		    color: #666;
		}

		input.email {
			font-family: 'Roboto', sans-serif;
			font-size: 1.1rem;
			font-weight: 400;
			color: #666;
			margin-bottom: 1rem;

			&:focus{
				box-shadow: none;
			}
		}

		.button{
			height: 2.5rem;
		}

		input.button {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 1.1rem;
		}
	}

	#mc-embedded-subscribe-form {
		padding: 1rem 1rem 1rem 1rem;
	}
}

