.page-footer{
	background-color: #323232;
	margin-top: 1rem;

	p {
		color: #fff;
	}

	.footer-copyright{
		font-size: 0.9rem;
		height: 40px;
		background-color: #323232;
		color: #fff;
		margin-bottom: 0;
		padding-bottom: 1rem;

		a {
			color: #fff;
		}

		.footer-left {
			text-align: left;
		}

		.footer-right {
			text-align: right;
		}
	}

	a {
		text-decoration: none;
	}

	.footer-name {
		font-size: 1.5rem;
		margin: 0.5rem 0 0 0;
	}

	.footer-email {
		margin: 0;
		font-size: 1rem;
	}

	.footer-find-me-on {
		font-size: 1rem;
		margin: 1rem 0 0.5rem 0;
	}

	img.share-post-icon{
		width: 2.5rem;
		height: 2.5rem;
		opacity: 0.5;
		display: inline-block;

		&:hover{
		opacity: 0.9;
		}
	}
}
