


// Masonry grid for the homepage only
.home-content.grid {
	margin: 2rem 4%;
	
	:after {
	  	content: '';
	  	display: block;
	  	clear: both;
	}

	.grid-item {
	   	float: left;
	  	margin-bottom: 1rem;
	}

	.grid-sizer, .grid-item {
		@media #{$small-and-down} {
			width: 100%;
		}

		@media #{$medium-and-up} {
			width: 47%;
		}

		@media #{$large-and-up}{
			width: 30%;
		}
	}
	.gutter-sizer {
		width: 7%;
	}
}


