.home-content-wrapper {
	display: flex;
	flex-flow: column nowrap;
	margin: 3rem auto 0rem auto;
	align-items: center;
}

//For the grid of icons
.list-of-categories {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1000px;
	a {
		color: #4e4e4e;
	}
	.category-list-title {
		font-family: 'Quicksand', sans-serif;
		font-size: 1.5rem;
		text-align: center;
		width: 100%;
	}
	.category-listing {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		margin: 2rem 2rem;
		min-width: 200px;
		img {
			max-width: 75px;
		}
		.category-title {
			margin: 10px 0;
			font-family: 'PT Sans', sans-serif;
		}
	}
}

//For the full-width display
.category-banner-wrapper {
	min-height: 300px;
	width: 100%;
	&:nth-child(odd) {
		background-image: linear-gradient(90deg, #eaeaea, #c5c5c5);
	}
	&:nth-child(even) {
		background-color: #fff;
	}
}
.category-banner {
	display: flex;
	flex-flow: row wrap;
	padding: 20px 0;
	.category-banner-left {
		display: flex;
		flex-flow: column nowrap;
		flex: 1 1 55%;
		background-repeat: no-repeat;
		background-size: 100%;
		margin: 20px 15px 0 30px;
		justify-content: flex-start;
		.category-title {
			font-family: 'Quicksand', sans-serif;
			font-size: 5rem;
			line-height: 4rem;
			font-weight: 700;
			color: #cacaca;
			text-align: left;
			text-transform: uppercase;
			z-index: 2;
		}
		.category-icon-banner {
			display: flex;
			height: 250px;
			width: 250px;
			border-radius: 50%;
			background-color: #00B0B9;
			img {
				height: 150px;
				width: 150px;
				margin: auto auto;
			}
		}
		.category-description {
			font-family: 'PT Sans', sans-serif;
			margin-top: 3rem;
		}
	}
	.category-banner-right {
		display: flex;
		flex: 1 1 40%;
		//margin: 20px 50px 20px 20px;
		justify-content: center;
		.post-card{
			max-width: 300px;
		}
	}
}

