
$nav-height: 4rem;
$nav-height-small: 2.9rem;
$nav-content-height: 3rem;

.navbar-fixed {
	height: $nav-height;
	height: $nav-height;
	min-height: $nav-height;
	@media #{$medium-and-down} {
		height: $nav-height-small;
		line-height: $nav-height-small;
		min-height: $nav-height-small;
	}
}

nav.nav-extended {
	color: #000;
	background-color: #fff;
	box-shadow: none;
	@media #{$medium-and-down} {
		height: $nav-height-small;
		line-height: $nav-height-small;
		min-height: $nav-height-small;
	}

	.brand-logo{
		color: #000;
	}

	a {
		text-decoration: none;
		color: #000;
		@media #{$medium-and-down} {
			height: $nav-height-small;
			line-height: $nav-height-small;
			min-height: $nav-height-small;
		}

		&.button-collapse i {
			@media #{$medium-and-down} {
				height: $nav-height-small;
				line-height: $nav-height-small;
				min-height: $nav-height-small;
			}
		}
	}

	.nav-wrapper {
		border-bottom: 1px solid #ccc;
		height: $nav-height;
		min-height: $nav-height;
		@media #{$medium-and-down} {
			height: $nav-height-small;
			min-height: $nav-height-small;
		}
	
		.brand-logo {
			font-family: 'Roboto Condensed', sans-serif;
			text-transform: uppercase;
			font-weight: 300;
			@media #{$medium-and-down} {
				margin: 0rem 1rem;
				font-size: 1.8rem;
			}
		}
	}

	.nav-content {
		width: 100%;
		border-bottom: 1px solid #ccc;

		.my-tabs {
			position: relative;
			white-space: normal;
			height: $nav-content-height;
			// 91% = 7% (for "All") + 6*14* (for the other nav items)
			width: 91%;
			margin: 0 auto;

			.my-tab {
				display: inline-block;
				//  14.3% is (100% - 7% - 7%)/6 (full width minus "All" and "About" width)
				width: 14.3%;
				text-align: center;
				text-transform: uppercase;
				height: $nav-content-height;

				// Makes "All" smaller to save horiz space
				&:first-of-type, &:last-of-type {
					width: 7%;
				}

				a {
					padding: 8px 5px 0 5px;
					font-size: 1rem;
					color: #666;
					overflow: visible;
					overflow-wrap: break-word;
					word-break: break-word;
					word-wrap: break-word;
					line-height: 1.1rem;
					font-family: 'Roboto Condensed', sans-serif;
					height: $nav-content-height;
				}

				a.active {
					border-bottom: 5px solid $color-none;
					&[data-state=quilting-sewing] {
						border-bottom: 5px solid $color-one;
					}
					&[data-state=career-gender-equality] {
						border-bottom: 5px solid $color-two;
					}
					&[data-state=sports-fitness-recovery] {
						border-bottom: 5px solid $color-three;
					}
					&[data-state=travel-destinations] {
						border-bottom: 5px solid $color-four;
					}
					&[data-state=rock-climbing] {
						border-bottom: 5px solid $color-five;
					}
					&[data-state=diy-projects] {
						border-bottom: 5px solid $color-six;
					}
				}
			}

			.indicator {
				height: 5px;
				background-color: #ffad4d;
			}
		}
	}
}


.side-nav {
	.side-nav-title a {
		text-transform: uppercase;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 400;
		font-size: 1.5rem;
		text-decoration: none;
		color: #000;
		padding-left: 2rem;
	}

	.divider {
		margin: 0;
	}

	li {
		text-transform: uppercase;

		a {
			text-decoration: none;
			font-weight: 300;
			font-size: 1.2rem;
		}

		+.subheader-items {
			text-transform: none;
			padding-left: 2rem;
		}
	}
}