
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    white-space: nowrap;

    a {
	    padding: 10px 8px 10px 20px;
	    text-decoration: none;
	    color: #fff;
	    opacity: 0.9;
	    display: block;
	    transition: 0.3s;
    }

    li {
    	text-transform: none;
    	list-style-type: none;
    	padding: 0 0 0 20px;
    	font-size: 1.1rem;
    }

    .closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
}

nav {
	.topnav {
		background-color: #fff; 
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 8px 0;
		z-index: 100;

		@media #{$large-and-up} {
			position: fixed;
			top: 0;
			width: 100%;
		}

		a {
		    text-decoration: none;
		    color: #000;
		    margin: 0 20px;
		    cursor: pointer;

    		&.title {
				font-family: 'Amatic SC',sans-serif;
	    		text-transform: uppercase;
	    		font-size: 2.5rem;
	    		font-weight: 400;
	    		margin: 0 20px;
			}
		}

		.right-menu-items {
			font-family: "Roboto Condensed", sans-serif;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 1.1rem;

			a {
				&:hover {
					border-bottom: 1px solid #000;
				}
			}

			.dropdown {
				float: left;
				.dropbtn {
					&:hover {
						border-bottom: 1px solid #000;
					}
				}
				&:hover .dropdown-content{
					display: block;
				}

				.material-icons {
					font-size: 1rem;
					margin-left: 5px;
				}
			}

			.dropdown-content {
			    display: none;
			    position: absolute;
			    background-color: #f9f9f9;
			    min-width: 160px;
			    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

			    a {
			     	float: none;
				    color: black;
				    padding: 12px 16px;
				    text-decoration: none;
				    display: block;
				    text-align: left;   
				    text-transform: none;	
				    margin: 0;

				    &:hover {
				    	border-left: 3px solid black;
				    	border-bottom: none;
				    	padding-left: 13px;

						&[data-state=quilting-sewing] {
							border-left: 3px solid $color-one;
						}
						&[data-state=career-gender-equality] {
							border-left: 3px solid $color-two;
						}
						&[data-state=sports-fitness-recovery] {
							border-left: 3px solid $color-three;
						}
						&[data-state=travel-destinations] {
							border-left: 3px solid $color-four;
						}
						&[data-state=rock-climbing] {
							border-left: 3px solid $color-five;
						}
						&[data-state=diy-projects] {
							border-left: 3px solid $color-six;
						}
						&[data-state=pregnancy-kids] {
							border-left: 3px solid $color-seven;
						}
				    }
			    }
			}
		}

		.icon {
			display: none;
		}
	}

	@media #{$medium-and-down} {
  		.topnav {
  			.right-menu-items {
  				display: none;
  			}
		 	.icon {
	    		display: flex;
	    	}
	    	a{
	    		font-size: 1.5rem;
	    		&.title {
	    			flex: auto;
	    			text-align: center;
	    		}
	    	}
  		}
	}
}



