nav {
	background-color: #fff;
	box-shadow: none;

	.nav-wrapper {
		padding-top: 1.3rem;
	}

	a.brand {
		font-family: 'Amatic SC', sans-serif;
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 2.8rem;
		font-weight: 400;
		line-height: 30px;
		display: inline-block;
		vertical-align: top;
		float: left;
		padding-left: 2rem;

		@media #{$medium-and-down} {
			margin: 0 auto;
			text-align:center;
			padding-left: 0;
		}
	}

	.menu-items {
		float: right;
		line-height: 30px;

		.dropdown {
			float:left;

			.dropbtn {
				text-decoration: none;
				color: #000;
				background-color:inherit;
				border:none;
				outline:none;
				font-family: 'Roboto Condensed', sans-serif;
				text-transform: uppercase;
				margin: 0 1rem 0 1rem;
				padding: 0;
				height: 30px;
				font-weight: 300;
				font-size: 1.1rem;
				
				.material-icons {
					float:right;
					font-size: 16px;
					margin-left: 5px;
					line-height: 30px;
				}

				&:hover {
					border-bottom: 3px solid #000;
					background-color: inherit;
					color: #000;
				}
			}

			.dropdown-content {
			    display: none;
			    position: absolute;
			    background-color: #fff;
			    min-width: 160px;
			    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			    z-index: 1;
			    opacity: 1;
			    right:0;

			    a {
		    	    float: none;
				    color: #000;
				    margin: 0;
				    padding: 10px 10px 10px 16px;
				    text-decoration: none;
				    display: block;
				    text-align: left;

				    &:hover {
				    	border-left: 5px solid black;
				    	border-bottom: none;
				    	padding: 10px 10px 10px 11px;

						&[data-state=quilting-sewing] {
							border-left: 5px solid $color-one;
							color: $color-one;
						}
						&[data-state=career-gender-equality] {
							border-left: 5px solid $color-two;
							color: $color-two;
						}
						&[data-state=sports-fitness-recovery] {
							border-left: 5px solid $color-three;
							color: $color-three;
						}
						&[data-state=travel-destinations] {
							border-left: 5px solid $color-four;
							color: $color-four;
						}
						&[data-state=rock-climbing] {
							border-left: 5px solid $color-five;
							color: $color-five;
						}
						&[data-state=diy-projects] {
							border-left: 5px solid $color-six;
							color: $color-six;
						}
						&[data-state=pregnancy-kids] {
							border-left: 5px solid $color-seven;
							color: $color-seven;							
						}

				    }
			    }
			}

			&:hover .dropdown-content {
				display:block;
			}

			&:hover .dropbtn {
				border-bottom: 3px solid black;
			}
		}

		a {
			float:right;
			text-decoration: none;
			color: #000;
			font-family: 'Roboto Condensed', sans-serif;
			text-transform: uppercase;
			margin: 0 1rem 0 1rem;
			padding: 0;
			font-weight: 300;
			font-size: 1.1rem;

			&:hover {
				border-bottom: 3px solid #000;
				background-color: inherit;
				color: #000;
			}
		}
	}

	.nav-small-med {
		a{
			color: #000;
			text-decoration: none;

			.material-icons {
				display: inline-block;
				height: 30px;
				line-height: 30px;
				float: left;
			}
		}

		.brand {
			display: block;
			left: 50%;
			transform: translateX(-50%);
			position: absolute;
			font-size: 2.8rem;
			font-weight: 300;
			white-space: nowrap;
		}
	}
}


.side-nav {
	.side-nav-title a {
		text-transform: uppercase;
		font-family: 'Amatic SC', sans-serif;
		font-weight: 700;
		font-size: 2rem;
		text-decoration: none;
		color: #000;
		padding-left: 2.2rem;
	}

	.divider {
		margin: 0;
	}

	li {
		text-transform: uppercase;

		a {
			text-decoration: none;
			font-weight: 300;
			font-size: 1.2rem;
		}

		+.subheader-items {
			text-transform: none;
			padding-left: 2rem;
		}
	}
}