
.card {
	flex: 1 1 270px;
    overflow: hidden;
    margin: 0 25px 40px 25px;
    min-height: 300px;
    max-width: 350px;
    background: #fff 50%;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: all .5s ease;
	&:hover {
	    box-shadow: 0 0 1px rgba(39,44,49,.05), 0 3px 16px rgba(39,44,49,.2);
	    transition: all .3s ease;
	    -webkit-transform: translate3D(0,-1px,0);
	            transform: translate3D(0,-1px,0);
	}
	a {
		text-decoration: none;
		color: #000;
	}
	.card-image{
	    height: 200px;
	    background: #c5d2d9 no-repeat 50%;
	    background-size: cover;
	    overflow: hidden;
	}
	.card-content {
		padding: 10px 15px 30px 15px;
		.card-tag {
			padding-bottom: 0.3rem;
			p {
				text-transform: uppercase;
				font-family: 'PT Sans Narrow', sans-serif;
				font-weight: 700;
				display: block;
				line-height: 1rem;
				margin: 0 0;
				font-size: 1rem;
				@media #{$large-and-up}{
					font-size: 0.8rem;
				}
				color: #adadad;
			}
		}
		h1.card-title {
			padding: 0rem 0rem 0.5rem 0rem;
			margin: 0;
			font-size: 1.3rem;
			color: #000;
			line-height: normal;
			@media #{$medium-and-up}{
				font-size: 1.1rem;
			}
		}
		.card-excerpt {
			p {
				font-family: 'PT Sans Narrow', sans-serif;
				font-size: 1rem;
				margin: 0 0;
				color: #4e4e4e;
				@media #{$large-and-up}{
					font-size: 0.9rem;
				}
			}
		}
	}
}

