.post-container {
	display: -ms-grid;
	display: grid;
	grid-template-columns: 1fr;
 	grid-template-areas:
		"feature-image"
		"post-header"
		"post-content"
		"post-footer";
	margin-bottom: 3rem;
	@media #{$large-and-up}{
        grid-template-columns: 6fr 3fr;
        grid-template-areas:
	 		"feature-image feature-image"
	 		"post-header post-header"
	 		"post-content sidebar"
	 		"post-footer post-footer";
	}
	.feature-image-wrapper {
		@media #{$large-and-up} {
			grid-area: feature-image;
		}
	}
	.feature-image {
		width: 100vw;
	 	height: 40vh;
	 	position: relative;
	 	left: 50%;
	 	right: 50%;
	 	margin-left: -50vw;
	 	margin-right: -50vh;
	 	-o-object-fit: cover;
	 	   object-fit: cover;
	}
	@media #{$small-and-down} {
		.feature-image-wrapper::after {
	 		display: block;
	 		position: relative;
	 		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
	 		margin-top: -150px;
	 		height: 150px;
	 		width: 100%;
	 		content: '';
	 	}
 	}
	.post-header {
		padding: 0 0 2.5rem 5%;
		@media #{$medium-and-up} {
			padding: 3rem 2rem 1rem 2rem;
			margin: -5rem 0 2rem 0;
			background-color: #fff;
			border-bottom: 1px solid #d3d3d3;
			z-index: 2;
			width: 75vw;
            justify-self: center;
		}
		@media #{$large-and-up} {
			grid-area: post-header;
			padding: 3rem 4rem 1rem 4rem;
			width: 60vw;
		}
		.post-title {
			margin: 0 0 4rem 0;
			font-size: 2.3rem;
			color: #000;
		}
		&.move-title-down {
			margin-top: 4rem;
		}
		.post-meta-wrapper {
			display: flex;
			flex-flow: column wrap;
			@media #{$medium-and-up} {
				flex-flow: row wrap;
				justify-content: space-between;
			}
		}
		.post-tags, .post-date {
			font-family: 'PT Sans', sans-serif;
			text-transform: uppercase;
			font-size: 0.8rem;
			padding-bottom: 0.5rem;
			color: #000;
			a {
				color: #000;
		        text-decoration-style: dotted;
			}
		}
	}
}

.post-content {
	padding-left: 20px;
	padding-right: 20px;
    img {
    	width: calc(100% + 40px);
    	transform: translateX(-20px);
    	display: block;
    }
	@media #{$medium-and-up} {
		width: 75vw;
        -ms-grid-column-align: center;
            justify-self: center;
	}
	@media #{$large-and-up} {
		grid-area: post-content;
		justify-self: end;
		width: auto;
		max-width: 800px;
	}
}

.sidebar {
	display: none;
	@media #{$large-and-up} {
		grid-area: sidebar;
		display: block;
		justify-self: center;
		width: 80%;
		max-width: 300px;
	}
}

.post-footer {
	display: flex;
	flex-flow: column wrap; 
	justify-content: center;
	@media #{$large-and-up} {
		grid-area: post-footer;
	}
}
