blockquote {
	// Sets the left colored border and the background of the entire blockquote area
	border-left: 10px solid #e08433;
	margin: 3rem 2rem;
	background: #ece5de;

	// Changes the style of the text within the blockquote area
	p{
	  font-family: 'Roboto Slab', serif;
	  font-size: 1.5rem;
	  line-height: 2.2rem;
	  color: #212121;
	  font-weight: 300;
	  // Changes line spacing if there's more than one paragraph within the blockquote
	  margin: 1rem 0rem;  
	}

	// Changes the colored background area of the top and bottom of the whole blockquote
	p:first-child, p:last-child{
		padding: 0.6rem 0 0.6rem 0;
	}
}

code, tt {
	margin-left: 2rem;
	padding: 0.2rem 0.3rem 0.1rem;
    border: rgb(216, 224, 228) 1px solid;
    background: #f5f7f8;
    border-radius: 2px;
    color: #c25;
    vertical-align: middle;
    white-space: pre-wrap;
    font-size: 0.8em;
    line-height: 1em;
}

// Basic formatting for ordered and unordered lists, minus the bullet type
ol, ol:not(.browser-default), ul, ul:not(.browser-default){
	padding-left: 3rem;
	li {
		font-family: 'Roboto', sans-serif;
        font-size: 1.3rem;
        line-height: 2.2rem;
        font-weight: 300;
	}
}

// Bullet style is decimal for ordered lists...
ol, ol:not(.browser-default) {
    li {
        list-style-type: decimal;
        // ...unless there's an embedded unorded list within an ordered list
        ul li{
      	    list-style-type: disc;
      	}
	}
}

// Bullet style is disc for unordered lists...
ul, ul:not(.browser-default) {
    li {
      	list-style-type: disc;
      	// ...unless there's an embedded ordered list within an unordered list
      	ol li{
      		list-style-type: decimal;
      	}
	}
}

// For captions
figcaption {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	color: #757575;
	font-style: normal;
	text-transform: uppercase;
	font-size: 1.1rem;
	padding: 0 3rem 0 3rem;

	&:before {
		font-family: 'Material Icons';
		content: "\E412";
		padding-right: 0.5rem;
	}
}

//  Wrapper for the cover image (not shown on mobile)
.feature-image-wrapper {
	position: relative;
	height: 33vh;
	overflow: hidden;
}

//  Cover image (not shown on mobile)
.feature-image {
	position: absolute;
	max-width: 100%;
	top: -1%; left: 0; right: 0; bottom: -1%;
	margin: auto;
	opacity: 0.8;
}

// The colored header bar that includes post title and modified date
.post-header {
	position: relative;
	background-color: #0f9d58;
	// padding: 2rem 2rem;
	// width: 75%;
	// margin-left: auto;
	// margin-right: auto;
	margin-top: -13%;
	margin-bottom: 3rem;
	&.col {
		padding: 3rem 5rem;
	}
}

// Styling for the post title
.post-title {
	font-weight: 300;
	font-size: 4rem;
	font-family: 'Roboto Slab', serif;
	letter-spacing: -0.05rem;
	line-height: 5rem;
	padding-bottom: 1.5rem;
}

//  Styling for modified date
.post-meta {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	color: #424242;
	font-size: 0.9rem;
	text-align: right;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
}