.post-container {
	display: -ms-grid;
	display: grid;
	margin-bottom: 3rem;
	.feature-image {
		width: 100vw;
	 	height: 40vh;
	 	position: relative;
	 	left: 50%;
	 	right: 50%;
	 	margin-left: -50vw;
	 	margin-right: -50vh;
	 	-o-object-fit: cover;
	 	   object-fit: cover;	
	}
	@media #{$small-and-down} {
		.feature-image-wrapper::after {
	 		display: block;
	 		position: relative;
	 		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
	 		margin-top: -150px;
	 		height: 150px;
	 		width: 100%;
	 		content: '';
	 	}
 	}
	.post-header {
		padding: 0 0 2.5rem 5%;
		@media #{$medium-and-up} {
			padding: 3rem 2rem 1rem 2rem;
			margin: -5rem 0 2rem 0;
			background-color: #fff;
			border-bottom: 1px solid #d3d3d3;
			z-index: 2;
			width: 75vw;
			-ms-grid-column-align: center;
			    justify-self: center;
		}
		@media #{$large-and-up} {
			padding: 3rem 4rem 1rem 4rem;
			width: 60vw;
		}
		.post-title {
			margin: 0 0 4rem 0;
			font-size: 2.3rem;
		}
		&.move-title-down {
			margin-top: 4rem;
		}
		.post-meta-wrapper {
			display: flex;
			flex-flow: column wrap;
			@media #{$medium-and-up} {
				flex-flow: row wrap;
				justify-content: space-between;
			}
		}
		.post-tags, .post-date {
			font-family: 'PT Sans', sans-serif;
			text-transform: uppercase;
			font-size: 0.8rem;
			padding-bottom: 0.5rem;
			a {
				color: #4e4e4e;
				-webkit-text-decoration-style: dotted;
				        text-decoration-style: dotted;
			}
		}
	}
}

.post-content {
	> *:not( img ):not( video ) {
	    padding-left: 5%;
	    padding-right: 5%;
	}
	@media #{$medium-and-up} {
		width: 75vw;
		-ms-grid-column-align: center;
		    justify-self: center;
	}
}

.post-footer {
	display: flex;
	flex-flow: column wrap; 
	justify-content: center;
}


/* .post-content-wrapper {*/
/* 	padding: 0 1.5rem 0rem 1.5rem;*/
/* 	display: grid;*/
/* 	grid-template-columns: 1fr;*/
/* 	grid-template-rows: auto;*/
/* 	grid-template-areas:*/
/* 		"header"*/
/* 		"content";*/
/* }*/

/* .post-header {*/
/* 	grid-area: header;*/
/* 	display: flex;*/
/* 	flex-direction: column;*/
/* 	justify-content: center;*/
/* }*/

/* .post-content {*/
/* 	grid-area: content;*/
/* 	padding: 3rem 0 3rem 0;*/
/* 	@media #{$medium-and-up} {*/
/* 		width: 60vw;*/
/* 		margin: 0 auto;*/
/* 	}*/
/* }*/

/* .feature-image, .feature-image-wrapper {*/
/* 	width: 100vw;*/
/* 	height: 40vh;*/
/* 	position: relative;*/
/* 	left: 50%;*/
/* 	right: 50%;*/
/* 	margin-left: -50vw;*/
/* 	margin-right: -50vh;*/
/* 	object-fit: cover;*/
/* }*/

/* @media #{$small-and-down} {*/
/* 	.feature-image-wrapper::after {*/
/* 		display: block;*/
/* 		position: relative;*/
/* 		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);*/
/* 		margin-top: -150px;*/
/* 		height: 150px;*/
/* 		width: 100%;*/
/* 		content: '';*/
/* 	}*/
/* }*/

/* .feature-image {*/
/* 	width: 100vw;*/
/* 	height: 40vh;*/
/* 	position: relative;*/
/* 	left: 50%;*/
/* 	right: 50%;*/
/* 	margin-left: -50vw;*/
/* 	margin-right: -50vh;*/
/* 	object-fit: cover;*/
/* }*/

/* .post-data-wrapper {*/
/* 	align-self: center;*/
/* 	padding-bottom: 3rem;*/
/* 	border-bottom: 1px solid #d3d3d3;*/
/* 	width: 100%;*/
/* 	z-index: 2;*/

/* 	@media #{$medium-and-up} {*/
/* 		width: 75vw;*/
/* 		padding: 5rem 2rem 5rem 2rem;*/
/* 		background-color: #fff;*/
/* 	}*/
/* }*/

/* @media #{$medium-and-up} {*/
/* 	.move-title-up {*/
/* 		margin-top: -5rem;*/
/* 	}*/
/* }*/

/* .post-title {*/
/* 	font-weight: 300;	*/
/* 	font-family: 'Tinos', serif;		*/
/* 	font-style: italic;*/
/* 	letter-spacing: -0.05rem;*/
/* 	margin: 0 0;*/
/* 	color: rgba(0,0,0,.87);*/
/* 	font-size: 3.3rem;*/
/* }*/
