.sidebar-content {
	@media #{$small-and-down} {
		margin-top: 2rem;
	}
	@media #{$medium-and-up} {
		margin-top: 8rem;
	}
}

.ad-block {
	@media #{$small-and-down} {
		margin-bottom: 1rem;
	}
	@media #{$medium-and-up} {
		margin-bottom: 4rem;
	}
}
