.sidebar {
	@media #{$large-and-up} {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		> * {
			margin: 2rem 0;
		}
		.title {
			margin: 1rem 0 0.5rem 0;
			font-size: 1.5rem;
			text-decoration: none;
			color: #4e4e4e;
			@media #{$large-and-up} {
				font-size: 1.3rem;
			}
		}
	}
}