

/* Media Query Ranges*/
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


/* Mapping.  Nav slug | tag slug | color*/
/* quilting-sewing | quilting | $color-one*/
/* career-gender-equality | career-gender-equality | $color-two*/
/* sports-fitness-recovery | sports | $color-three*/
/* travel | travel-destinations | $color-four*/
/* rock-climbing | climbing | $color-five*/
/* diy-projects | diy-projects | $color-six*/
/* pregnancy-kids | pregnancy-kids | $color-seven*/
/* For "All" (the default), use $color-none*/
$color-none-light: #b0bec5;
$color-none: #78909c;
$color-none-dark: #60747d; 
$color-one-light: #8bc34a;
$color-one: #4caf50;
$color-two-light: #ffad12; 
$color-two: #ff9800;
$color-three-light: #ef5350;
$color-three: #f44336;
$color-four-light: #82dce9;
$color-four: #03a9f4; 
$color-five-light: #ce93d8;
$color-five: #9C94D5; /*#ba68c8;*/
$color-five-dark: #7b6fce;
$color-six-light: #fff176;
$color-six: #facc17;
$color-seven: #1DE9B6;/*#ec407a;*/