// Mapping.  Nav slug | tag slug | color
// quilting-sewing | quilting | $color-one
// career-gender-equality | career-gender-equality | $color-two
// sports-fitness-recovery | sports | $color-three
// travel | travel-destinations | $color-four
// rock-climbing | climbing | $color-five
// diy-projects | diy-projects | $color-six
// For "All" (the default), use $color-none
$color-none-light: #b0bec5;
$color-none: #78909c;
$color-none-dark: #60747d;
$color-one-light: #8bc34a;
$color-one: #4caf50;
$color-two-light: #ffad12;
$color-two: #ff9800;
$color-three-light: #ef5350;
$color-three: #f44336;
$color-four-light: #82dce9;
$color-four: #03a9f4;
$color-five-light: #ce93d8;
$color-five: #9C94D5; //#ba68c8;
$color-five-dark: #7b6fce;
$color-six-light: #fff176;
$color-six: #facc17;
$color-seven-light: #f48fb1;
$color-seven: #ec407a;

@import "variables";
@import "post";
@import "footer";
@import "navigation";
@import "post-card";
@import "grid-layout";
@import "tag";
@import "section-card";
@import "home";
@import "sidebar";
@import "related-posts-card";
@import "related-posts-wide";
@import "email-subscribe-card";
@import "email-subscribe-popup";
@import "author-card";
@import "author";
@import "blog-desc-card";

@font-face {
    font-family: 'OPTIBodoniCampanileFive';
    src:url('/assets/fonts/bodoni/OPTIBodoniCampanileFive.ttf.woff') format('woff'),
        url('/assets/fonts/bodoni/OPTIBodoniCampanileFive.ttf.svg#OPTIBodoniCampanileFive') format('svg'),
        url('/assets/fonts/bodoni/OPTIBodoniCampanileFive.ttf.eot'),
        url('/assets/fonts/bodoni/OPTIBodoniCampanileFive.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'Roboto Slab', serif;
	margin: 4rem 0 2rem 0;
}

h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	margin: 2rem 0 2rem 0;
}

h1 { 
  font-size: 2.5rem;
}

h2 { 
  font-size: 1.8rem;
}

h3 { 
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.3rem;
}

p {
	font-family: 'Roboto', serif;
	font-weight: 300;
	line-height: 2.2rem;
	word-wrap: break-word;
	font-size: 1.3rem;
	margin: 2rem 0 1rem 0;
	color: #000;
}

// For anchors
a {
	text-decoration: underline;
}

mark {
	background: #f5eb93;
}

// Needed for Materialize Sticky Footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Needed for Materialize Sticky Footer
main {
  flex: 1 0 auto;
}

.page-content {
	margin-bottom: 0rem;
	// @media #{$large-and-up}{
	// 	padding-top: 2.9rem;
	// }
}

.divider {
	background-color: #ccc;
}

// Needed for Materialize PushPin. Class for when element is above threshold
.pin-top {
	position: relative;
}

// Needed for Materialize PushPin. Class for when element is below threshold
.pin-bottom {
	position: relative;
}

// Needed for Materialize PushPin. Class for when element is pinned
.pinned {
	position: fixed !important;
}

//Fixes the width of the sidebar so that position:fixed looks ok
//25% is 3 of 12 columns, which is the width of the sidebar on large screens, minus 1.5rem, which is 2x padding of 0.75rem
.sidebar-content .pinned{
	max-width: calc(25% - 1.5rem);
}

.pagination {
	visibility:hidden;
}