@import "variables";
@import "post";
@import "footer";
@import "navigation";
@import "post-card";
@import "grid-layout";
@import "tag";

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	margin: 2rem 0 2rem 0;
}

h1 { 
  font-size: 2.2rem;
}

h2 { 
  font-size: 2rem;
}

h3 { 
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.6rem;
}

p {
	font-family: 'Roboto', serif;
	font-weight: 300;
	line-height: 2.2rem;
	word-wrap: break-word;
	font-size: 1.3rem;
	margin: 2rem 0 1rem 0;
	color: #000;
}

// For anchors
a {
	text-decoration: underline;
}

// Needed for Materialize Sticky Footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Needed for Materialize Sticky Footer
main {
  flex: 1 0 auto;
}

.page-content {
	@media #{$large-and-up}{
		padding-top: 2.9rem;
	}
}