.feature-image-wrapper {
  position: relative;
  height: 33vh;
  overflow: hidden;
  margin-top: 1rem; }

.feature-image {
  position: absolute;
  max-width: 100%;
  top: -1%;
  left: 0;
  right: 0;
  bottom: -1%;
  margin: auto;
  opacity: 0.8; }

.post-header {
  position: relative;
  background-color: #0f9d58; }
  @media only screen and (max-width: 992px) {
    .post-header.col {
      padding: 1rem 1rem 0.5rem 1.5rem; } }
  @media only screen and (min-width: 993px) {
    .post-header {
      margin-top: -13%; }
      .post-header.col {
        padding: 2rem 3rem 1rem 5rem; } }

.post-title {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.05rem;
  padding-bottom: 2rem;
  margin-bottom: 0rem; }
  @media only screen and (max-width: 992px) {
    .post-title {
      font-size: 3rem;
      line-height: 4rem; } }
  @media only screen and (min-width: 993px) {
    .post-title {
      font-size: 4rem;
      line-height: 6rem; } }

.post-meta {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: #424242;
  font-size: 0.9rem;
  text-align: right;
  letter-spacing: 0.15rem;
  text-transform: uppercase; }

@media only screen and (max-width: 600px) {
  .post-content img {
    display: block;
    width: calc(100% + 1.5rem);
    transform: translateX(-0.75rem); } }
@media only screen and (min-width: 601px) {
  .post-content img {
    display: block;
    max-width: 126%;
    height: auto;
    padding: 0.6em 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%); } }
.post-content blockquote {
  border-left: 10px solid #e08433;
  margin: 3rem 2rem;
  background: #ece5de; }
  .post-content blockquote p {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #212121;
    font-weight: 300;
    margin: 1rem 0rem; }
  .post-content blockquote p:first-child, .post-content blockquote p:last-child {
    padding: 0.6rem 0 0.6rem 0; }
.post-content code, .post-content tt {
  margin-left: 2rem;
  padding: 0.2rem 0.3rem 0.1rem;
  border: #d8e0e4 1px solid;
  background: #f5f7f8;
  border-radius: 2px;
  color: #c25;
  vertical-align: middle;
  white-space: pre-wrap;
  font-size: 0.8em;
  line-height: 1em; }
.post-content ol, .post-content ol:not(.browser-default), .post-content ul, .post-content ul:not(.browser-default) {
  padding-left: 3rem; }
  .post-content ol li, .post-content ol:not(.browser-default) li, .post-content ul li, .post-content ul:not(.browser-default) li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    line-height: 2.2rem;
    font-weight: 300; }
.post-content ol li, .post-content ol:not(.browser-default) li {
  list-style-type: decimal; }
  .post-content ol li ul li, .post-content ol:not(.browser-default) li ul li {
    list-style-type: disc; }
.post-content ul li, .post-content ul:not(.browser-default) li {
  list-style-type: disc; }
  .post-content ul li ol li, .post-content ul:not(.browser-default) li ol li {
    list-style-type: decimal; }
.post-content figcaption {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #757575;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 0 3rem 0 3rem; }
  .post-content figcaption:before {
    font-family: 'Material Icons';
    content: "\E412";
    padding-right: 0.5rem; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

div {
  color: #000; }

.nav-extended {
  color: #000;
  background-color: #fff; }
  .nav-extended .brand-logo {
    color: #000; }
  .nav-extended a {
    text-decoration: none;
    color: #000; }
  .nav-extended .nav-wrapper {
    border-bottom: 1px solid #ccc; }
    .nav-extended .nav-wrapper .brand-logo {
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
      font-weight: 300;
      margin: 0rem 2rem; }
  .nav-extended .nav-content .tabs {
    position: relative;
    white-space: normal;
    height: 2.9rem; }
    .nav-extended .nav-content .tabs .tab {
      display: inline-block;
      margin: 0 auto;
      width: 14%;
      text-align: center;
      height: 2.9rem; }
      .nav-extended .nav-content .tabs .tab a {
        padding-top: 6px;
        font-size: 0.9rem;
        color: #666;
        overflow: visible;
        overflow-wrap: break-word;
        word-break: break-word;
        word-wrap: break-word;
        line-height: 1.1rem; }
    .nav-extended .nav-content .tabs .indicator {
      height: 5px;
      background-color: #ffad4d; }

.side-nav .side-nav-title {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding-left: 1rem; }
.side-nav .divider {
  margin: 0; }
.side-nav li {
  text-transform: uppercase; }
  .side-nav li a {
    text-decoration: none;
    font-weight: 300; }
  .side-nav li + .subheader-items {
    text-transform: none;
    padding-left: 2rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  margin: 2rem 0 2rem 0; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.6rem; }

h6 {
  font-size: 1.6rem; }

p {
  font-family: 'Roboto', serif;
  font-weight: 300;
  line-height: 2.2rem;
  word-wrap: break-word;
  font-size: 1.3rem;
  margin: 2rem 0 1rem 0;
  color: #000; }

a {
  text-decoration: underline; }

/*# sourceMappingURL=application.css.map */
