.feature-image-wrapper {
  position: relative;
  height: 40vh;
  overflow: hidden; }

.feature-image {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  top: -1%;
  left: 0;
  right: 0;
  bottom: -1%;
  margin: auto;
  opacity: 1; }

.post-header {
  position: relative;
  background-color: #ffffff; }
  @media only screen and (max-width: 600px) {
    .post-header.move-title-up {
      margin-top: -12rem;
      background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #ffffff 7rem); }
    .post-header.col {
      padding-bottom: 1rem; } }
  @media only screen and (min-width: 601px) and (max-width: 992px) {
    .post-header {
      border-bottom: 1px solid #d3d3d3; }
      .post-header.move-title-up {
        margin-top: -15%; }
      .post-header.col {
        padding: 3rem 1rem 1rem 1.5rem; } }
  @media only screen and (min-width: 993px) {
    .post-header {
      border-bottom: 1px solid #d3d3d3; }
      .post-header.move-title-up {
        margin-top: -10%; }
      .post-header.col {
        padding: 4rem 5rem 2rem 3rem; } }

.post-title {
  font-weight: 300;
  font-family: 'Tinos', serif;
  font-style: italic;
  letter-spacing: -0.05rem;
  padding-bottom: 5rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  padding-left: 0.75rem; }
  @media only screen and (max-width: 600px) {
    .post-title {
      font-size: 3.2rem;
      padding-top: 8rem;
      padding-bottom: 2rem; } }
  @media only screen and (min-width: 601px) and (max-width: 992px) {
    .post-title {
      font-size: 3.5rem;
      line-height: 4rem; } }
  @media only screen and (min-width: 993px) {
    .post-title {
      font-size: 3.5rem;
      line-height: 5rem; } }

.post-meta {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: #424242;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  height: 1rem; }
  @media only screen and (max-width: 600px) {
    .post-meta {
      padding-top: 1rem; } }
  .post-meta .post-tags {
    padding-bottom: 0.5rem;
    padding-left: 0rem; }
    .post-meta .post-tags a {
      color: #424242;
      text-decoration-style: dotted; }
  @media only screen and (max-width: 600px) {
    .post-meta .post-date {
      float: left;
      padding-top: 0.2rem; } }
  @media only screen and (min-width: 601px) {
    .post-meta .post-date {
      float: right; } }

@media only screen and (max-width: 600px) {
  .post-content.col {
    padding: 3rem 1.5rem 0rem 1.5rem;
    border-top: 1px solid lightgrey; } }
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .post-content.col {
    padding: 3rem 1.5rem 0rem 1.5rem; } }
@media only screen and (min-width: 993px) {
  .post-content.col {
    padding-left: 5rem;
    padding-right: 4rem;
    margin-right: 4rem;
    padding-top: 3rem; } }
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  color: #60747d;
  font-weight: 500; }
@media only screen and (max-width: 600px) {
  .post-content img {
    display: block;
    width: calc(100% + 3rem);
    transform: translateX(-1.5rem);
    margin-bottom: 1rem; } }
@media only screen and (min-width: 601px) {
  .post-content img {
    display: block;
    max-width: 110%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem; } }
.post-content blockquote {
  padding-left: 0rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 4rem;
  margin-top: 3rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 0px; }
  .post-content blockquote p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #6b0096;
    font-weight: 300;
    position: relative;
    margin-top: 0rem;
    margin-left: 1rem; }
  .post-content blockquote p:only-child {
    margin-top: 3rem; }
    .post-content blockquote p:only-child:before {
      content: '\201C';
      font-family: serif;
      font-weight: 700;
      position: absolute;
      font-size: 3rem;
      top: -2rem;
      left: 12rem;
      color: #ccc; }
  .post-content blockquote p:first-child {
    margin-top: 3rem; }
    .post-content blockquote p:first-child:before {
      content: '\201C';
      font-family: serif;
      font-weight: 700;
      position: absolute;
      font-size: 3rem;
      top: -2rem;
      left: 10rem;
      color: #ccc; }
.post-content code, .post-content tt {
  margin-left: 2rem;
  padding: 0.2rem 0.3rem 0.1rem;
  border: #d8e0e4 1px solid;
  background: #f5f7f8;
  border-radius: 2px;
  color: #c25;
  vertical-align: middle;
  white-space: pre-wrap;
  font-size: 0.8em;
  line-height: 1em; }
.post-content ol, .post-content ol:not(.browser-default), .post-content ul, .post-content ul:not(.browser-default) {
  padding-left: 3rem; }
  .post-content ol li, .post-content ol:not(.browser-default) li, .post-content ul li, .post-content ul:not(.browser-default) li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 2.1rem;
    font-weight: 300; }
.post-content ol li, .post-content ol:not(.browser-default) li {
  list-style-type: decimal; }
  .post-content ol li ul li, .post-content ol:not(.browser-default) li ul li {
    list-style-type: disc; }
.post-content ul li, .post-content ul:not(.browser-default) li {
  list-style-type: disc; }
  .post-content ul li ol li, .post-content ul:not(.browser-default) li ol li {
    list-style-type: decimal; }
.post-content figcaption {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #757575;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 0 3rem 1rem 3rem; }
  .post-content figcaption:before {
    font-family: 'Material Icons';
    content: "\E412";
    padding-right: 0.5rem; }

.end-of-content {
  margin: 1rem auto 2rem auto;
  width: 100%;
  border-bottom: 1px solid #b0bec5; }

.page-footer {
  background-color: #323232;
  margin-top: 1rem; }
  .page-footer p {
    color: #fff; }
  .page-footer .footer-copyright {
    font-size: 0.9rem;
    height: 40px;
    background-color: #323232;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 1rem; }
    .page-footer .footer-copyright a {
      color: #fff; }
    .page-footer .footer-copyright .footer-left {
      text-align: left; }
    .page-footer .footer-copyright .footer-right {
      text-align: right; }
  .page-footer a {
    text-decoration: none; }
  .page-footer .footer-name {
    font-size: 1.5rem;
    margin: 0.5rem 0 0 0; }
  .page-footer .footer-email {
    margin: 0;
    font-size: 1rem; }
  .page-footer .footer-find-me-on {
    font-size: 1rem;
    margin: 1rem 0 0.5rem 0; }
  .page-footer img.share-post-icon {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.5;
    display: inline-block; }
    .page-footer img.share-post-icon:hover {
      opacity: 0.9; }

nav {
  background-color: #fff;
  box-shadow: none; }
  nav .nav-wrapper {
    padding-top: 1.3rem; }
  nav a.brand {
    font-family: 'Amatic SC', sans-serif;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    float: left;
    padding-left: 2rem; }
    @media only screen and (max-width: 992px) {
      nav a.brand {
        margin: 0 auto;
        text-align: center;
        padding-left: 0; } }
  nav .menu-items {
    float: right;
    line-height: 30px; }
    nav .menu-items .dropdown {
      float: left; }
      nav .menu-items .dropdown .dropbtn {
        text-decoration: none;
        color: #000;
        background-color: inherit;
        border: none;
        outline: none;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        margin: 0 1rem 0 1rem;
        padding: 0;
        height: 30px;
        font-weight: 300;
        font-size: 1.1rem; }
        nav .menu-items .dropdown .dropbtn .material-icons {
          float: right;
          font-size: 16px;
          margin-left: 5px;
          line-height: 30px; }
        nav .menu-items .dropdown .dropbtn:hover {
          border-bottom: 3px solid #000;
          background-color: inherit;
          color: #000; }
      nav .menu-items .dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        opacity: 1;
        right: 0; }
        nav .menu-items .dropdown .dropdown-content a {
          float: none;
          color: #000;
          margin: 0;
          padding: 10px 10px 10px 16px;
          text-decoration: none;
          display: block;
          text-align: left; }
          nav .menu-items .dropdown .dropdown-content a:hover {
            border-left: 5px solid black;
            border-bottom: none;
            padding: 10px 10px 10px 11px; }
            nav .menu-items .dropdown .dropdown-content a:hover[data-state=quilting-sewing] {
              border-left: 5px solid #4caf50;
              color: #4caf50; }
            nav .menu-items .dropdown .dropdown-content a:hover[data-state=career-gender-equality] {
              border-left: 5px solid #ff9800;
              color: #ff9800; }
            nav .menu-items .dropdown .dropdown-content a:hover[data-state=sports-fitness-recovery] {
              border-left: 5px solid #f44336;
              color: #f44336; }
            nav .menu-items .dropdown .dropdown-content a:hover[data-state=travel-destinations] {
              border-left: 5px solid #03a9f4;
              color: #03a9f4; }
            nav .menu-items .dropdown .dropdown-content a:hover[data-state=rock-climbing] {
              border-left: 5px solid #9C94D5;
              color: #9C94D5; }
            nav .menu-items .dropdown .dropdown-content a:hover[data-state=diy-projects] {
              border-left: 5px solid #facc17;
              color: #facc17; }
            nav .menu-items .dropdown .dropdown-content a:hover[data-state=pregnancy-kids] {
              border-left: 5px solid #1DE9B6;
              color: #1DE9B6; }
      nav .menu-items .dropdown:hover .dropdown-content {
        display: block; }
      nav .menu-items .dropdown:hover .dropbtn {
        border-bottom: 3px solid black; }
    nav .menu-items a {
      float: right;
      text-decoration: none;
      color: #000;
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
      margin: 0 1rem 0 1rem;
      padding: 0;
      font-weight: 300;
      font-size: 1.1rem; }
      nav .menu-items a:hover {
        border-bottom: 3px solid #000;
        background-color: inherit;
        color: #000; }
  nav .nav-small-med a {
    color: #000;
    text-decoration: none; }
    nav .nav-small-med a .material-icons {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      float: left; }
  nav .nav-small-med .brand {
    display: block;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 2.8rem;
    font-weight: 300;
    white-space: nowrap; }

.side-nav .side-nav-title a {
  text-transform: uppercase;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  color: #000;
  padding-left: 2.2rem; }
.side-nav .divider {
  margin: 0; }
.side-nav li {
  text-transform: uppercase; }
  .side-nav li a {
    text-decoration: none;
    font-weight: 300;
    font-size: 1.2rem; }
  .side-nav li + .subheader-items {
    text-transform: none;
    padding-left: 2rem; }

.card {
  flex: 1 1 300px;
  overflow: hidden;
  margin: 0 20px 40px 20px;
  min-height: 300px;
  background: #fff 50%;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all .5s ease; }
  .card:hover {
    box-shadow: 0 0 1px rgba(39, 44, 49, 0.05), 0 3px 16px rgba(39, 44, 49, 0.2);
    transition: all .3s ease;
    transform: translate3D(0, -1px, 0); }
  .card a {
    text-decoration: none;
    color: #000; }
  .card .card-image {
    border-radius: 5px 5px 0 0;
    width: auto;
    height: 200px;
    background: #c5d2d9 no-repeat 50%;
    background-size: cover;
    overflow: hidden; }
  .card .card-content {
    padding: 20px 25px 30px 20px;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between; }
    .card .card-content .card-tag {
      padding-bottom: 0.3rem; }
      .card .card-content .card-tag p {
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        display: block;
        line-height: 1rem;
        color: #78909c; }
        @media only screen and (max-width: 992px) {
          .card .card-content .card-tag p {
            font-size: 1rem; } }
        @media only screen and (min-width: 993px) {
          .card .card-content .card-tag p {
            font-size: 0.8rem; } }
        .card .card-content .card-tag p[data-state=quilting] {
          color: #4caf50; }
        .card .card-content .card-tag p[data-state=career-gender-equality] {
          color: #ff9800; }
        .card .card-content .card-tag p[data-state=sports] {
          color: #f44336; }
        .card .card-content .card-tag p[data-state=travel] {
          color: #03a9f4; }
        .card .card-content .card-tag p[data-state=climbing] {
          color: #9C94D5; }
        .card .card-content .card-tag p[data-state=diy-projects] {
          color: #facc17; }
        .card .card-content .card-tag p[data-state=pregnancy-kids] {
          color: #1DE9B6; }
    .card .card-content h1.card-title {
      padding: 0rem 0rem 0.5rem 0rem;
      margin: 0;
      font-size: 1.3rem;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      line-height: 1.5rem; }
    .card .card-content .card-excerpt p {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      font-size: 1.1rem;
      line-height: 1.4rem; }

.home-content.grid {
  margin: 2rem 4%; }
  .home-content.grid :after {
    content: '';
    display: block;
    clear: both; }
  .home-content.grid .grid-item {
    float: left;
    margin-bottom: 1rem; }
  @media only screen and (max-width: 600px) {
    .home-content.grid .grid-sizer, .home-content.grid .grid-item {
      width: 100%; } }
  @media only screen and (min-width: 601px) {
    .home-content.grid .grid-sizer, .home-content.grid .grid-item {
      width: 47%; } }
  @media only screen and (min-width: 993px) {
    .home-content.grid .grid-sizer, .home-content.grid .grid-item {
      width: 30%; } }
  .home-content.grid .gutter-sizer {
    width: 7%; }

.tag-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 2rem 1rem 4rem 1rem;
  flex-direction: column; }
  .tag-page-header .tag-page-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    margin: 2rem 0; }
  .tag-page-header .tag-page-description {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 1.3rem;
    margin: 0; }

.tag-main {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%; }

.tag-feed {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.section-card {
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border-top: 10px solid #000;
  margin-bottom: 2rem; }
  .section-card[data-state=quilting] {
    border-top: 10px solid #4caf50; }
  .section-card[data-state=career-gender-equality] {
    border-top: 10px solid #ff9800; }
  .section-card[data-state=sports] {
    border-top: 10px solid #f44336; }
  .section-card[data-state=travel] {
    border-top: 10px solid #03a9f4; }
  .section-card[data-state=climbing] {
    border-top: 10px solid #9C94D5; }
  .section-card[data-state=diy-projects] {
    border-top: 10px solid #facc17; }
  .section-card[data-state=pregnancy-kids] {
    border-top: 10px solid #1DE9B6; }
  .section-card > .title {
    padding: 1rem;
    border-bottom: 1px solid #ccc; }
    .section-card > .title a {
      font-family: 'OPTIBodoniCampanileFive', serif;
      font-weight: 400;
      line-height: 2.5rem;
      font-size: 2.5rem;
      text-transform: uppercase;
      color: #000;
      text-decoration: none; }
  .section-card .post-listing {
    padding: 0rem 1rem; }
    .section-card .post-listing .post {
      padding: 0.6rem 0;
      margin-bottom: 0; }
      .section-card .post-listing .post a {
        text-decoration: none; }
      .section-card .post-listing .post:first-child .image {
        height: 200px;
        overflow: hidden;
        position: relative;
        background-size: cover;
        background-position: center; }
      .section-card .post-listing .post:first-child .title {
        color: #000;
        font-family: 'Roboto Slab', serif;
        font-size: 1.2rem;
        padding: 1rem 0 0 0; }
      .section-card .post-listing .post:not(:first-child) {
        border-top: 1px solid #ccc; }
        .section-card .post-listing .post:not(:first-child) .image {
          height: 100px;
          overflow: hidden;
          position: relative;
          background-size: cover;
          background-position: center; }
        .section-card .post-listing .post:not(:first-child) .title {
          color: #000;
          font-family: 'Roboto Slab', serif;
          font-size: 1rem;
          padding-left: 1rem; }
  .section-card .more {
    padding: 0.3rem 1rem 0.8rem 1rem;
    border-top: 1px solid #ccc; }
    .section-card .more a {
      font-family: 'Aldrich', sans-serif;
      font-weight: 400;
      font-size: 0.9rem;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      color: #666;
      text-decoration: none; }
      .section-card .more a i {
        font-weight: 400;
        position: relative;
        top: 8px;
        margin-right: 0.3rem; }

@media only screen and (max-width: 600px) {
  .sidebar-content {
    margin-top: 2rem; } }
@media only screen and (min-width: 601px) {
  .sidebar-content {
    margin-top: 5rem; } }

@media only screen and (max-width: 600px) {
  .ad-block {
    margin-bottom: 1rem; } }
@media only screen and (min-width: 601px) {
  .ad-block {
    margin-bottom: 4rem; } }

.related-posts-card {
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border-top: 10px solid #000;
  margin: 3rem 0; }
  .related-posts-card > .title {
    padding: 1rem 1rem 0rem 1rem;
    border-bottom: 1px solid #ccc;
    line-height: 3rem; }
    .related-posts-card > .title a {
      padding: 0rem 0rem;
      font-family: 'OPTIBodoniCampanileFive', sans-serif;
      font-weight: 400;
      font-size: 3rem;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      line-height: 3rem; }
  .related-posts-card .post-listing {
    padding: 0rem 1rem; }
    .related-posts-card .post-listing .post {
      padding: 0.6rem 0;
      margin-bottom: 0; }
      .related-posts-card .post-listing .post a {
        text-decoration: none; }
      .related-posts-card .post-listing .post .image {
        height: 90px;
        overflow: hidden;
        position: relative;
        background-size: cover;
        background-position: center; }
      .related-posts-card .post-listing .post .title {
        color: #000;
        font-family: 'Roboto Slab', serif;
        font-size: 1rem;
        padding-left: 1rem; }
      .related-posts-card .post-listing .post:not(:last-child) {
        border-bottom: 1px solid #ccc; }
  .related-posts-card .more {
    padding: 0.3rem 1rem 0.8rem 1rem;
    border-top: 1px solid #ccc; }
    .related-posts-card .more a {
      font-family: 'Aldrich', sans-serif;
      font-weight: 400;
      font-size: 0.9rem;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      color: #666;
      text-decoration: none; }
      .related-posts-card .more a i {
        font-weight: 400;
        position: relative;
        top: 8px;
        margin-right: 0.2rem; }

.related-posts-wide {
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border-top: 10px solid #000;
  margin: 2rem 3rem 3rem 2rem; }
  .related-posts-wide .title-bar {
    border-bottom: 1px solid #ccc; }
  .related-posts-wide > .row.title-bar a .title {
    padding: 0.3rem 1rem 0rem 1rem;
    font-family: 'OPTIBodoniCampanileFive', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
    color: #000;
    text-decoration: none; }
  .related-posts-wide a .more {
    padding: 1rem 3rem 0.8rem 1rem;
    border-top: 1px solid #ccc;
    font-family: 'Aldrich', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: #666;
    text-decoration: none; }
    .related-posts-wide a .more i {
      font-weight: 400;
      position: relative;
      top: 7px;
      margin-right: 0.2rem;
      color: #666; }
  .related-posts-wide .post-listing {
    padding: 0rem 0rem; }
    .related-posts-wide .post-listing .posts-row {
      padding: 0.6rem 0;
      margin: 1rem 1rem 1rem 1rem; }
      .related-posts-wide .post-listing .posts-row a {
        text-decoration: none; }
      .related-posts-wide .post-listing .posts-row .post .image {
        height: 90px;
        overflow: hidden;
        position: relative;
        background-size: cover;
        background-position: center; }
      .related-posts-wide .post-listing .posts-row .post .title {
        color: #000;
        font-family: 'Roboto Slab', serif;
        font-size: 1rem;
        padding-top: 1rem; }
      .related-posts-wide .post-listing .posts-row .post:not(:last-child) {
        border-right: 1px solid #ccc; }

.email-subscribe-card {
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border-top: 10px solid #000;
  margin: 3rem 0 2rem 0rem; }
  .email-subscribe-card .title {
    padding: 1rem 1rem 0.7rem 1rem;
    border-bottom: 1px solid #ccc;
    line-height: 3rem;
    font-family: 'OPTIBodoniCampanileFive', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #000;
    text-decoration: none; }
  .email-subscribe-card #mc_embed_signup label {
    display: block;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #666; }
  .email-subscribe-card #mc_embed_signup input.email {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 1rem; }
    .email-subscribe-card #mc_embed_signup input.email:focus {
      box-shadow: none; }
  .email-subscribe-card #mc_embed_signup .button {
    height: 2.5rem; }
  .email-subscribe-card #mc_embed_signup input.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1rem; }
  .email-subscribe-card #mc-embedded-subscribe-form {
    padding: 1rem 1rem 1rem 1rem; }

.email-subscribe-popup {
  z-index: 998;
  border: 1px solid #6085ff;
  bottom: 0px;
  right: 1rem;
  background-color: #6085ff;
  position: fixed;
  padding-bottom: 0.5rem; }
  @media only screen and (max-width: 600px) {
    .email-subscribe-popup {
      width: 100vw;
      right: 0;
      background-color: #6085ff;
      border: 1px solid #6085ff; } }
  @media only screen and (min-width: 601px) {
    .email-subscribe-popup {
      width: 60vw; } }
  @media only screen and (min-width: 993px) {
    .email-subscribe-popup {
      width: 35vw; } }
  .email-subscribe-popup a.close {
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 1;
    background-color: #6085ff;
    color: #fff;
    cursor: pointer; }
    @media only screen and (max-width: 600px) {
      .email-subscribe-popup a.close {
        background-color: #6085ff; } }
    .email-subscribe-popup a.close .material-icons {
      font-size: 1.7rem;
      line-height: 34px;
      color: #fff; }
  @media only screen and (max-width: 600px) {
    .email-subscribe-popup #mc_embed_signup form {
      text-align: left; } }
  .email-subscribe-popup #mc_embed_signup label {
    display: block;
    position: relative;
    text-align: left;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-right: 2rem; }
  .email-subscribe-popup #mc_embed_signup input.email {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 0.8rem;
    margin-right: 0rem;
    background-color: #fff;
    border: 1px solid #fff;
    display: block;
    padding: 0 0.4em;
    min-height: 32px;
    width: 85%;
    min-width: 130px; }
    @media only screen and (max-width: 600px) {
      .email-subscribe-popup #mc_embed_signup input.email {
        font-size: 1rem;
        height: 2rem;
        margin: 0 0 0 0;
        display: inline-block;
        vertical-align: top; } }
    @media only screen and (max-width: 992px) {
      .email-subscribe-popup #mc_embed_signup input.email {
        display: inline-block;
        height: 2rem;
        margin: 0 0 0 0;
        width: 58%; } }
    .email-subscribe-popup #mc_embed_signup input.email:focus {
      box-shadow: none; }
  .email-subscribe-popup #mc_embed_signup .clear {
    clear: none;
    display: inline; }
    @media only screen and (max-width: 600px) {
      .email-subscribe-popup #mc_embed_signup .clear {
        display: inline-block; } }
  .email-subscribe-popup #mc_embed_signup .button {
    clear: both;
    border: 0 none;
    height: 2.5rem;
    margin-bottom: 0;
    background-color: #000;
    padding: 0 1rem 0 1rem; }
    .email-subscribe-popup #mc_embed_signup .button:hover {
      background-color: #777; }
    @media only screen and (max-width: 600px) {
      .email-subscribe-popup #mc_embed_signup .button {
        margin: 0 0 0 0; } }
  .email-subscribe-popup #mc_embed_signup input.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #fff; }
    @media only screen and (max-width: 600px) {
      .email-subscribe-popup #mc_embed_signup input.button {
        font-size: 1rem; } }
  .email-subscribe-popup #mc-embedded-subscribe-form {
    padding: 1rem 1rem 1rem 1.5rem; }
    @media only screen and (max-width: 600px) {
      .email-subscribe-popup #mc-embedded-subscribe-form {
        padding: 0.5rem 1rem 0.5rem 1rem; } }

.about-me-card {
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border-top: 10px solid #000;
  margin: 0rem 0 4rem 0rem; }
  .about-me-card .title {
    padding: 1rem 1rem 0.7rem 1rem;
    border-bottom: 1px solid #ccc;
    font-family: 'OPTIBodoniCampanileFive', serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    line-height: 3rem; }
    .about-me-card .title a {
      text-decoration: none;
      color: #000; }
  .about-me-card .about-me-name {
    font-size: 0.9rem;
    margin: 1rem 0 0.5rem 0;
    text-align: center;
    padding-bottom: 1rem; }
  .about-me-card .about-me-find-me-on {
    font-size: 1rem;
    margin: 1rem 0 0.5rem 0; }
  .about-me-card .row {
    margin-bottom: 0; }
    .about-me-card .row .col {
      padding: 0 0.5rem 0 0.5rem; }
  .about-me-card p {
    font-size: 1.1rem;
    margin: 1rem 0 0.5rem 0;
    line-height: 1.5rem; }
  .about-me-card .social-icons-row a {
    text-decoration: none;
    display: inline-block; }
  .about-me-card .my-story a {
    text-decoration-style: dotted;
    color: #000;
    font-weight: 300; }
  .about-me-card img {
    max-width: 100%;
    margin-top: 1rem; }
  .about-me-card img.social-icon {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.5;
    display: inline-block; }
    .about-me-card img.social-icon:hover {
      opacity: 0.9; }

.author-page .row {
  margin-bottom: 0; }
.author-page .post-header {
  position: relative;
  background-color: #9C94D5; }
  @media only screen and (min-width: 601px) and (max-width: 992px) {
    .author-page .post-header.col {
      padding: 1rem 1rem 0.5rem 1.5rem; } }
  @media only screen and (min-width: 993px) {
    .author-page .post-header.col {
      padding: 2rem 3rem 1rem 5rem; } }
  .author-page .post-header h1 {
    margin: 2rem 0; }
  .author-page .post-header img {
    margin: 1rem 1rem; }
.author-page .post-title {
  font-weight: 300;
  font-family: 'Satisfy', cursive;
  font-size: 8rem; }
  @media only screen and (max-width: 600px) {
    .author-page .post-title {
      font-size: 4rem; } }
  @media only screen and (max-width: 992px) {
    .author-page .post-title {
      font-size: 5rem; } }
  @media only screen and (min-width: 993px) {
    .author-page .post-title {
      font-size: 6rem; } }
.author-page .my-photo {
  height: 100%; }
.author-page .post-content .my-story-short .timeline-item {
  border: 3px dashed #9C94D5;
  border-radius: 10px;
  padding: 1rem 1rem;
  margin-top: 0;
  margin-bottom: 0; }
  .author-page .post-content .my-story-short .timeline-item p {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem; }
  .author-page .post-content .my-story-short .timeline-item .icon, .author-page .post-content .my-story-short .timeline-item a {
    max-height: 4rem;
    max-width: 4rem;
    padding: 0; }
.author-page .post-content .my-story-short .timeline-spacer {
  height: 3rem;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #9C94D5; }

@media only screen and (min-width: 993px) {
  .blog-desc-card p {
    font-family: 'Amatic SC', cursive;
    padding: 6rem 2rem 15rem 2rem;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem; } }
@media only screen and (max-width: 992px) {
  .blog-desc-card p {
    font-family: 'Pompiere', cursive;
    margin: 0;
    padding: 3rem 1.5rem 5rem 1.5rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2.6rem; } }

@font-face {
  font-family: 'OPTIBodoniCampanileFive';
  src: url("/assets/fonts/bodoni/OPTIBodoniCampanileFive.ttf.woff") format("woff"), url("/assets/fonts/bodoni/OPTIBodoniCampanileFive.ttf.svg#OPTIBodoniCampanileFive") format("svg"), url("/assets/fonts/bodoni/OPTIBodoniCampanileFive.ttf.eot"), url("/assets/fonts/bodoni/OPTIBodoniCampanileFive.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-family: 'Tinos', serif;
  margin: 5rem 0 1rem 0; }

h2, h3, h4, h5, h6 {
  font-family: 'Tinos', serif;
  margin: 4rem 0 1rem 0; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.3rem; }

h6 {
  font-size: 1.3rem; }

p {
  font-family: 'Roboto', serif;
  font-weight: 300;
  line-height: 2.1rem;
  word-wrap: break-word;
  font-size: 1.2rem;
  color: #000;
  margin: 1rem 0; }
  p + p {
    margin-top: 3rem; }

a {
  text-decoration: underline; }

mark {
  background: #f5eb93; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.page-content {
  margin-bottom: 0rem; }

.divider {
  background-color: #ccc; }

.pin-top {
  position: relative; }

.pin-bottom {
  position: relative; }

.pinned {
  position: fixed !important; }

.sidebar-content .pinned {
  max-width: calc(25% - 1.5rem); }

.pagination {
  visibility: hidden; }

/*# sourceMappingURL=application.css.map */
