
body{
	/*font-family: 'Roboto', serif;*/
}

a {
    color: #707070;
    transition: color 0.3s ease;
    text-decoration: none;
}

.post-title-latest a {
    color: #FFF;
    transition: color 0.3s ease;
    text-decoration: none;
}

.post-title-latest a:hover{
	color: #111;
}

.tag-title a, .post-meta a{
    color: #707070;
    transition: color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.tag-title a:hover,  .post-meta a:hover{
	color: #111;
    text-decoration: none;
}

.index-content {
	text-align: center;
}

.tag-content {
	text-align: center;
}

.tag-content {
	width: 100%;
}

.main-header {
    height: 40vh;
}

.page-title {
    margin: 10px 0 10px 0;
    font-size: 5rem;
    text-shadow: 0rem 0rem 2rem black;
    font-family: "Roboto", sans-serif;
    font-size: 300%;
    font-weight: 500;
    color: #fff;
}

.page-description {
    font-family: "Roboto", sans-serif;
	  text-shadow: 0rem 0rem 2rem black;
    color: #fff;
    font-weight: 400;
}


/*Creates the square for each post*/
.post-index { 
	background-color: #526071; 
	background-position: center;
  background-size: cover;
	margin: 0rem 0.5rem 2rem 0rem;
  outline: none;
  position: relative;
  word-break: break-word;
  display: inline-block;
  text-align: center;
  opacity: 1.0;
  width: 22.5%;
  height: 0;
  /*To make the images square*/
  padding-bottom: 20%;
  vertical-align: top;
}

.post-index:hover {
	opacity: 0.9;
}

/*Creates the square for the larger Latest post in the first row*/
.post-index-latest { 
	background-color: #526071; 
	background-position: center;
  	background-size: cover;
  	margin: 0rem 0.5rem 4rem 0rem;
  	outline: none;
  	position: relative;
  	word-break: break-word;
  	display: inline-block;
  	text-align: center;
  	width: 80%;
  	height: 30vh;
}

.post-index-latest:hover{
	opacity: 0.9;
}

.post-title-latest {
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	height: 30%;
 	width: 75%;
 	margin: -5% 0% 0% -38%;
 	letter-spacing: 0.1rem;
 	color: #FFF;
}

/*Titles that are centered in the squares*/
.post-title {
 	position: absolute;
 	top: 55%;
 	left: 50%;
 	height: 30%;
 	width: 90%;
 	margin: -5% 0% 0% -45%;
 	letter-spacing: 0.1rem;
 	color: #FFF;
}

/*Title for viewing a single post*/
.post-title-postpage, .post-title-staticpage {
 	position: relative;
 	color: #515861;
 	font-family: 'Roboto', sans-serif;
}

/*Kill the line break with a little circle from the bottom of each post square*/
.post:after {
    display: none;
}

/*For the string "14 December 2016 on Travel" on the single post page*/
.post-meta {
    display: block;
    transition: color 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1.75rem 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #828991;
}

/*To make the date on the single post page different*/
.post-date {
    display: inline-block;
    margin-left: 8px;
    padding-left: 12px;
    border-left: #d5dbde 1px solid;
    text-transform: uppercase;
    font-size: 1.3rem;
    white-space: nowrap;
    letter-spacing: 0rem;
    font-weight: lighter;
}


.tag-list-slider {
	margin: 2rem 0rem 2rem -0.5rem;
	border-bottom: #e6e6e6 1px solid;
}

/* Add a little circle in the middle of the border-bottom on the slider*/
.tag-list-slider:after {
    display: block;
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    border: #e6e6e6 1px solid;
    position: relative;
    bottom: -0.5rem;
    left: 50%;
    margin-left: -0.5rem;
    background: #FFF;
    border-radius: 100%;
    box-shadow: white 0 0 0 0.5rem;
}

.tag-list-header {}

/*The header for the tag in the slider row, like TRAVEL*/
.tag-title {
	font-size: 1.8rem;
	margin: 4rem 0rem 0rem 0rem;
	padding-bottom: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	color: #878787;
	letter-spacing: 0.2rem;
}


.italicized-words {
	font-size: 1.4rem;
	color: #878787;
	font-family: serif;
	font-style: italic;
	font-weight: lighter;
	text-transform: lowercase;
	transition: color 0.3s ease;
	margin: 0px 0px 40px 0px;
}

a:hover .italicized-words{
	color: #111;
}

/*The title of the post in the square*/
body:not(.post-template) .post-title {
    font-size: 1.6rem;
    text-shadow: 0rem 0rem 0.8rem black;
 	font-family: 'Roboto', sans-serif;
 	font-weight: 500;
}

/*The title of the post in the square*/
body:not(.post-template) .post-title-latest {
    font-size: 2.7rem;
    text-shadow: 0rem 0rem 0.8rem black;
 	font-family: 'Roboto', sans-serif;
 	font-weight: 500;
}


section.post-content{
    margin: 2rem 0rem 2rem -0.5rem;
    border-bottom: #e6e6e6 1px solid;
}

section.post-content:after {
    display: block;
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    border: #e6e6e6 1px solid;
    position: relative;
    bottom: -0.5rem;
    left: 50%;
    margin-left: -0.5rem;
    background: #FFF;
    border-radius: 100%;
    box-shadow: white 0 0 0 0.5rem;
}

.post-footer {
    position: relative;
    margin: 0rem 0 0 0;
    padding: 0rem 0 0 0;
    border-top: none;
    height: 20vh;
}

.post-footer .share {
    position: relative;
    top: 3rem;
    right: 0;
    width: 80%;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 500px) {
  .post-index{ 
    width: 40%; 
    height: 0;
    /*To make the images square*/
    padding-bottom: 40%;
    vertical-align: top;
    }

  
  .post-title-latest a {
    font-size: 1.5rem;
  }
  }

