@import "components/color";
@import "components/variables";

// Make the whole view area width larger (materialize default is 70%)
.container {
    width: 90%; } 

// Needed for the sticky footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.3rem;
}

code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: #E3EDF3 1px solid;
    background: #F7FAFB;
    border-radius: 2px;
    -webkit-font-feature-settings: "liga" 0;
    -moz-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
}

// Work-around for materialize to make lists bulleted but not on nav items
ul {
  &:not(.browser-default or .navbar-fixed or .side-nav) {
    list-style-type: disc;
    padding-left: 2rem;

    >li {
      list-style-type: disc;
    }
  }
}

// Work-around for materialize to make lists bulleted but not on nav items
ol {
  &:not(.browser-default) {
    list-style-type: decimal;

    >li {
      list-style-type: decimal;
    }
  }
}

// Needed for the sticky footer
main {
    flex: 1 0 auto;
}

// Upper nav bar
nav{
	background-color: #3c4863; //#293a48; //#45526E;

	ul li{
		font-weight: 300;
		letter-spacing: 0.03rem;
	}

	.brand-logo{
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		margin: 0 0 0 1.5rem;
		text-transform: uppercase;
		font-size: 1.3rem;
	}

	.dropdown-content li > a{
		color: $primary-color;
		text-transform: uppercase;
		&:hover {
			background-color: color("grey", "lighten-4");
		}
	}
}

//side nav that pulls out on right
.side-nav{
	a{
	 	padding: 0 2rem;
 		font-weight: 400;
	}

	.subheader{
	 	text-transform: uppercase;
	}

	li :not(.divider){
	 	padding-top: 0.25rem;
	 	padding-bottom: 0.25rem;
	 }

	a.btn{
		background-color: #fff;
    	color: color("grey", "base");
    	border-style: solid;
    	border-width: 1px;
    	border-radius: 2px;

    	&:hover{
    		background-color: color("grey", "lighten-3");
    	}
    }

    .side-nav-title{
	    text-transform: uppercase;
	    font-size: 1.5rem;
	    font-weight: 300;
	    text-align: center;
	    display: inline-block;
	    line-height: 3rem;
	    // background-color: $primary-color;
	    }

	.side-nav-rss{
    	float: right;
		margin: 7px;
		width: 2rem;
		height: 2rem;
		opacity: 0.5;
		display: inline-block;
	}
	
	.subheader-items{
		text-indent: 1.5rem;
	}
}

//For the main title on the homepage
.blog-title{
    font-size: 4rem;
    margin: 4rem 0 0 0;
    text-transform: lowercase;
    font-weight: 900;
    letter-spacing: -0.2rem;
}

//For the blog description on the homepage
.blog-description{
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2.3rem;
}

//For the title of each category slider, like "on TRAVEL"
.slider-title{
	letter-spacing: -0.5px;
	font-size: 3rem;
	font-weight: 100;
	text-transform: uppercase;

	@media #{$small-and-down} {
		font-size: 2.4rem;
	}

}

//To make some words smaller size in the title of the category slider
.slider-title-smallfont{
	font-size: 1.3rem;
	letter-spacing: 0.3rem;

	@media #{$small-and-down} {
		font-size: 1.5rem;
	}
}

//The container for each category/tag
.slider-container{
	background-color: white;
	padding: 0 0 0 0;

	// For the rotating loop-slider on latest posts
	.slider{
		margin-bottom: 3rem;

		.caption h3{
			font-family: 'Roboto Slab', serif;
		}

		@media #{$medium-and-down} {
			margin-bottom: 1rem;
		}

		.indicator-item{
			height: 12px;
			width: 12px;
		}

		.indicator-item.active{
			background-color: $secondary-color;
		}
	}

	//For any category/tag slider
	.slider-footer{
		margin: 0 0 2rem 0;
	}

	a.btn{
		background-color: #fff;
    	color: $secondary-color;
    	border-style: solid;
    	border-width: 1px;
    	box-shadow: none;
    	border-radius: 2px;
    	&:hover{
	     	color: white;  
	     	background-color: $secondary-color;	
	 	    border-style: solid;
		    border-width: 1px;
		    box-shadow: none;
		    border-radius: 2px;
		    border-color: $secondary-color;
    	}
    }
}

// Styles for the various post-boxes
.post-box{
	cursor: pointer;

	.post-title{  
    	text-align: center;
    	font-weight: 300;
    	font-family: 'Roboto Slab', serif;
    	line-height: 110%;
	}	

	.post-meta{
		margin-bottom: 1rem;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 1rem;
	}

	.post-meta a{
		color: color("grey","lighten-1");
		font-weight: 400;
		font-size: 1.1rem;
	}

	.post-excerpt{
		font-size: 1rem;
		color: rgba(0, 0, 0, 0.87);
		text-align: center;
		margin: 0 0.5rem 0.5rem 0.5rem;
		font-weight: 300;
	}

	@media #{$small-and-down} {
		margin-bottom: 1rem;

		.post-title{
			font-size: 1rem;
			margin: 0.5rem 0 0.5rem 0;
		}

		.post-meta{
			font-size: 0.6rem;
		}

		.post-meta a{
			font-size: 0.8rem;
		}
	}

	@media #{$medium-only} {
		margin-bottom: 2rem;
		
		.post-title{
			font-size: 1.2rem;
			margin: 0.75rem;
		}
	}

	@media #{$large-and-up} {
		margin-bottom: 2rem;

		.post-title{
			font-size: 1.2rem;
			margin: 1rem 0;
		}
	}
}


// Change the margins for the post title and meta 
.post-header-container{
	margin: 5rem 0 2rem 4rem;

	.post-title{
		font-family: 'Roboto Slab', serif;
		font-weight: 300;
		line-height: 130%;
	}

	.post-meta{
		margin-bottom: 2rem;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 1rem;
	}

	.post-meta-tags{
		font-size: 1.2rem;
	}
    
    @media #{$small-and-down} {
		margin: 2rem 0 1rem 0;

		.post-title{
			font-size: 2.5rem;
			margin: 0 0 2rem 0;
		}
	}

    @media #{$medium-only} {
		margin: 4rem 0 1.5rem 2rem;

		.post-title{
			font-size: 3rem;
			margin: 0 0 2rem 0;
		}
	}

	@media #{$large-and-up} {
		.post-title{
			font-size: 4rem;
			margin: 0 0 2rem 0;
		}
	}

}

// For the post content, like text of a blog post
.post-content{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	line-height: 2rem;
	word-wrap: break-word;
	font-size: 1.2rem;
	width: 70%;
	margin: 0 0 0 4rem;

	h1, h2, h3, h4, h5, h6{
		font-family: 'Roboto', sans-serif;
	}

	img{
		min-width: 0;
  		max-width: 80%;
  		height: auto; 
  		display: block;
  		margin: 0 auto;
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); 
	}

	.image-caption{
		text-align: center;
		display: block;
		max-width: 85%;
		margin: 0 auto;
		font-size: 1rem;
		line-height: 1.5rem;
    	font-family: 'roboto', sans-serif;
    	font-style: italic;
	}

    @media #{$small-and-down} {
		margin: 0 0 0 0;
		width: 100%;
  	}
    
    @media #{$medium-only} {
		margin: 0 0 0 2rem;
		width: 90%;
	}
}

//For the "share this post" and social share icons at the bottom of the post content
.share-love,
.share-love p{
	display: block;
	text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 100;

    img.share-post-icon{
		width: 2rem;
		height: 2rem;
		opacity: 0.5;
		display: inline-block;
		margin: 1rem 0 0 0;

		&:hover{
			opacity: 0.9;
		}
	}

    @media #{$small-and-down} {
		margin: 0 0 2rem 0;
		width: 100%
	}

    @media #{$medium-only} {
		margin: 1rem 0 3rem 2rem;
		width: 90%;
	}

	@media #{$large-and-up} {
		margin: 2rem 0 4rem 4rem;
		width: 70%
	}
}

// For the horizontal cards for previous and next post
.post-box-prev-next{
	.card-title{
    	font-weight: 300;
    	text-transform: uppercase;

    	color: color("light-blue", "darken-2");
	}

	.card-content{
		padding: 0;
    	font-family: 'Roboto Slab', serif;
    	font-weight: 400;
	}

	@media #{$small-and-down} {
		.card-title{
			font-size: 1.1rem;
			margin: 0.7rem 0 0.5rem 0.7rem;
		}

		.card-content{
			font-size: 1rem;
			margin: 0 0.5rem 0.5rem 0.7rem;		
		}
	}

	@media #{$medium-only}{
		.card-title{
			font-size: 1.4rem;
    		margin: 1rem 0 0.5rem 1rem;
		}

		.card-content{
			font-size: 1.3rem;
			margin: 0 0.5rem 0.5rem 1rem;
		}
	}

	@media #{$large-and-up} {
		.card-title{
			font-size: 1.2rem;
    		margin: 1rem 0 0 0.7rem;
		}

		.card-content{
    		font-size: 1.1rem;
    		margin: 0 0.5rem 0.5rem 0.7rem;
		}
	}
}


//For the header like "All Posts" and "Travel"
.index-header{
    letter-spacing: -0.5px;
    font-size: 4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin: 4rem 0;
}

//For subheaders like "XX posts in category"
.index-subheader{
	font-size: 2.5rem;
	font-weight: 100;
    font-size: 1.5rem;
    font-weight: 300;
    margin: -3rem 0 3rem 0;
    font-family: 'Roboto Slab', serif;
}

// Author name in the footer 
.footer-name, .footer-name p{
	font-size: 1.5rem;
	margin: 0.5rem 0 0 0;
	font-weight: 100;
}

// "find me on" text in the footer 
.footer-find-me-on, p.footer-find-me-on{
	font-size: 1rem;
	font-weight: 100;
	margin: 1rem 0 1rem 0;
}

footer img.share-post-icon{
	width: 2.5rem;
	height: 2.5rem;
	opacity: 0.5;
	display: inline-block;

	&:hover{
		opacity: 0.9;
	}
}

// background: linear-gradient(rgba(0,0,0,.45) 100%,transparent);