
a,
a .italicized-words,
a .italicized-words-spaced,
a .post-tag-taller,
a .tag-slider-title{
	font-size: 0.9rem;
	color: #7a7a7a;
	font-family: serif;
	font-weight: lighter;
	transition: color 0.3s ease;
	text-decoration: none;
}

a:hover, 
a:hover .italicized-words,
a:hover .italicized-words-spaced,
.post-tag-taller a:hover,
.tag-slider-title a:hover
{
	color: #111;
}

.italicized-words {
	font-style: italic;
	text-transform: lowercase;
	font-family: serif;
	font-weight: lighter;
	text-decoration: none;
	color: #7a7a7a;
	letter-spacing: normal;
}

/*Makes the italicized words spaced farther apart for style*/
.italicized-words-spaced {
	font-style: italic;
	text-transform: lowercase;
	font-family: serif;
	font-weight: lighter;
	text-decoration: none;
	color: #7a7a7a;
	letter-spacing: 0.1rem;
}

/*The image for the top of a main page*/
.main-header{
	width: 100%;
	background-size: cover;
	height: 40vh;
	display: table;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

/*The image for the top of a blog post*/
.post-header{
	width: 100%;
	background-size: cover;
	height: 50vh;
	display: table;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

/*Set up to horizontally and vertically align elements*/
.main-header .row,
.main-header .column{
    display: table;
    width: 100%;
    height: 100%; 
    padding: none;
    margin: none;                      
}

/*Allow things like headers and footers to take full screen width instead of flex width*/
.row.full-width{
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.full-width .column{
	margin: 0;
	padding: 0;
	max-width: 100%;
}

/*Should make things horiz and vert aligned*/
.span-middle{
    display: table-cell;
    text-align: center;
    vertical-align: middle;                     
}

.page-title {
    text-shadow: 0rem 0rem 2rem black;
	font-family: "Roboto", sans-serif;
    font-size: 300%;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.page-description {
    text-shadow: 0rem 0rem 2rem black;
    font-size: 2rem;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 120%;
	color: #fff;
}

/*Container for the slider row*/
.tag-slider {
	margin: 1.5rem auto 1rem auto;
	text-align: center;
}

/*The words at the top of the view-tag page, like "XX posts in tag"*/
.tag-page-header{
	margin: 1.5rem auto 1rem auto;
	text-align: center;
}


/*The header for the tag in the slider row, like "TRAVEL"*/
.tag-slider-title, .tag-slider-title a {
	font-size: 1.1rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	color: #7a7a7a;
}

/*The header for the view tag page, like "XX posts in the YY category"*/
.tag-page-title{
	font-size: 1.1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	color: #7a7a7a;
}

/*The navigation under the tag slider row, like "more like this"*/
.tag-slider-footer, .tag-slider-footer a{
	margin: 0.4rem auto 1.5rem auto;
	text-align: center;
}

/*Creates the square for each post*/
.square-post { 
	background-color: #FFF; 
	background-position: center;
  	background-size: cover;
	text-align: center;
	opacity: 1.0;
}

.square-post:hover, .latest-post:hover {
	opacity: 0.9;
	transition: 0.25s ease;
}

.thumbnail{
	border: none;
	border-radius: 0;
	box-shadow: 0rem 0rem 0.8rem black;
	box-shadow: 0rem 0rem 0.4rem grey;
}


/* Add a little circle in the middle of the border-bottom on the slider*/
.divider {
	border-bottom: #e6e6e6 1px solid;
	height: 0rem;
	margin: 1rem;
}

.divider:after{
    display: block;
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border: #e6e6e6 1px solid;
    position: relative;
    bottom: 0.2rem;
    left: 50%;
    background: #FFF;
    border-radius: 100%;
    box-shadow: white 0 0 0 0.5rem;
}

/*Creates the square for each post*/
.latest-post { 
	background-color: #526071; 
	background-position: center;
  	background-size: cover;
	text-align: center;
	opacity: 1.0;
	height: 100%;
	width: 100%;
}

/*Titles that are centered in the squares*/
.post-title, .post-title a{
 	letter-spacing: 0.1rem;
 	color: #FFF;
 	font-size: 0.8rem;
    text-shadow: 0rem 0rem 0.8rem black;
 	font-family: 'Roboto', sans-serif;
 	font-weight: 500; 
 	margin-top: -38%;
}

/*For the nav bar*/
[data-sticky] {
  width: 100%; }

/*For the nav bar*/
.top-bar{
	text-align: center;
  	background: #333333; 
}

/*Title for viewing a single post*/
.post-title-postpage, .post-title-staticpage,
h1 .post-title-postpage, h1 .post-title-staticpage {
 	position: relative;
 	color: #515861;
 	font-family: 'Roboto', sans-serif;
 	font-size: 3rem;
 	letter-spacing: -0.15rem;
 	font-weight: bold;
}

/*To make the date on the single post page different*/
.post-meta,
.post-meta a {
	text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8rem;
    white-space: nowrap;
    letter-spacing: 0rem;
    font-weight: lighter;
    color: #828991;
    font-family: "Open Sans", sans-serif;
}

.post-tag-taller,
.post-tag-taller a{
	font-size: 1.1rem;
}

.post-content,
.post-content p{
	font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    font-size: 1.1rem;
    line-height: 1.75em;
    color: #3A4145;
}

.icon-button{
	font-size: 2rem;
	padding: 1rem;
}

.copyright, .copyright a{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    letter-spacing: 0.05rem;
    color: #828991;
    text-decoration: none;
}

.poweredby, .poweredby a{
	text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    letter-spacing: 0.05rem;
    color: #828991;
    text-decoration: none;
}

#scroll-to-top {
  background-color: rgb(57,55,55);
  background-color: rgba(57,55,55,0.8);
  background-image: url('/assets/icons/scroll_to_top.png');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: none;
  height: 40px;
  margin-top: -20px;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 20px;
  top: 50%;
  width: 40px;
  z-index: 20000;
}

#scroll-to-top:hover {
  background-color: rgba(57,55,55);
  background-color: rgba(57,55,55,0.7);
}
