@import "components/color";
@import "components/variables";

// Make the whole view area width larger (materialize default is 70%)
.container {
    width: 90%; } 

// Needed for the sticky footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

// Needed for the sticky footer
main {
    flex: 1 0 auto;
}

// Upper nav bar
nav{
	background-color: #3c4863; //#293a48; //#45526E;
	font-weight: 300;
}

.dropdown-content li > a{
	color: $primary-color;
	text-transform: uppercase;

	&:hover {
		background-color: color("grey", "lighten-4");
	}
}

// Sets the blog title properties on the top nav bar
.brand-logo{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin: 0 0 0 0.7rem;
}

.side-nav a{
	font-weight: 400;
}

.side-nav .subheader{
	text-transform: uppercase;
}

// For buttons in the side nav, like Subscribe RSS
.side-nav a.btn{
	background-color: #fff;
    color: color("grey", "base");
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;

    &:hover{
    	background-color: color("grey", "lighten-3");
    }
}

// RSS icon in the side nav
.side-nav-rss{
    float: right;
    margin: 7px;
	width: 2rem;
	height: 2rem;
	opacity: 0.5;
	display: inline-block;
}

.subheader-items{
	text-indent: 1.5rem;
}

// Sets the height of the blog image on the sidenav
.userView{
	min-height: 150px;
}

// Sets the blog image properties on the sidenav
.background{
	background-size: cover;
	overflow: visible;
}

i.close-sidenav{
	color: white;
	font-size: 2.5rem;
}

h1.blog-title{
    font-size: 4rem;
    margin: 4rem 0 0 0;
    text-transform: lowercase;
    font-weight: 900;
    letter-spacing: -0.2rem;
}

h2.blog-description{
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2.3rem;
}

.slider-title h2{
	letter-spacing: -0.5px;
	font-size: 3rem;
	font-weight: 100;
	text-transform: uppercase;
	opacity: 0.8;
}

h2 .slider-title-smallfont{
	font-size: 1.3rem;
	letter-spacing: 0.3rem;
}

.slides .caption h3{
	font-family: 'Roboto Slab', serif;
}

.slider-footer{
	margin: 3rem 0 3.5rem 0;
}

.post-box{
	margin-bottom: 1rem;
}

h3.post-title{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;

    @media #{$small-and-down} {
    	font-size: 1.1rem;
    }
}

p.post-excerpt{
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.87);
	text-align: center;
	margin: 0 0.5rem 0.5rem 0.5rem;
	font-weight: 300;
}

.slider-container{
	background-color: white;
	padding: 0 0 0 0;
}

.slider .indicators .indicator-item{
	height: 12px;
	width: 12px;
}

.slider .indicators .indicator-item.active{
	background-color: $secondary-color;
}

.homepage a.btn{
	background-color: #fff;
    color: $secondary-color;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    border-radius: 2px;

    &:hover{
     	color: white;  
     	background-color: $secondary-color;	
 	    border-style: solid;
	    border-width: 1px;
	    box-shadow: none;
	    border-radius: 2px;
	    border-color: $secondary-color;
    }
}

// Change the margins for the post title and meta
.post-header-container{
	margin: 5rem 0 2rem 4rem;

    @media #{$medium-only} {
		margin: 4rem 0 1.5rem 2rem;
	}

    @media #{$small-and-down} {
		margin: 2rem 0 1rem 0;
	}
}

// Font for the title of a single blog post
h1.post-title{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	margin: 0 0 5rem 0;

    @media #{$small-and-down} {
		font-size: 3rem;
  	}
}

// Metadata like date and tags under the title of a single blog post
.post-meta p{
	text-transform: uppercase;
	font-weight: 300;
}

// Make the post metadata tags slightly larger
.post-meta-tags,
a .post-meta-tags{
	font-size: 1.2rem;
}

.post-content{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	line-height: 2rem;
	word-wrap: break-word;
	font-size: 1.2rem;
	width: 70%;
	margin: 0 0 0 4rem;

    @media #{$medium-only} {
		margin: 0 0 0 2rem;
		width: 90%;
	}

    @media #{$small-and-down} {
		font-size: 1rem;
		margin: 0 0 0 0;
		width: 100%;
  	}
}

// Make the headers Roboto sans-serif instead of serif like the rest of post-content
.post-content h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
}

.post-content img {
	min-width: 0;
  	max-width: 80%;
  	height: auto; 
  	display: block;
  	margin: 0 auto;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); 
}

.post-content .image-caption{
	text-align: center;
	display: block;
	max-width: 80%;
	margin: 0 auto;
	font-size: 1rem;
	line-height: 1.5rem;
}

.share-love{
	margin: 5rem 0 2rem 4rem;
	display: block;
	text-align: center;
	width: 70%;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 100;

    @media #{$medium-only} {
		margin: 4rem 0 1.5rem 2rem;
		width: 90%;
	}

    @media #{$small-and-down} {
		margin: 2rem 0 1rem 0;
		width: 100%
	}
}

.share-love p{
	margin: 0 0 1rem 0;
}

.share-post-icon{
	width: 2.5rem;
	height: 2.5rem;
	opacity: 0.5;
	display: inline-block;

	&:hover{
		opacity: 0.9;
	}
}
.card.horizontal .card-title p{
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5rem 0 0 0.7rem;
    color: color("light-blue", "darken-2");
}

.card.horizontal .card-content{
    padding: 0;
    border-radius: 0 0 2px 2px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0 0.5rem 0 0.7rem;

    @media #{$medium-only} {
		font-size: 1.3rem;
	}
    @media #{$small-and-down} {
		font-size: 1rem;
	}
}

.footer-name, .footer-name p{
	font-size: 1.5rem;
	margin: 0;
	font-weight: 100;
}

.footer-find-me-on, .footer-find-me-on p{
	font-size: 0.8rem;
	font-weight: 100;
}

//     background: linear-gradient(rgba(0,0,0,.45) 100%,transparent);